<section class="brief mb-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2 col-12">
                <div class="brief__box position-relative">
                    <div class="brief-robot position-absolute">
                        <img class="img-fluid" src="/images/robot.png" alt="robot">
                    </div>
                    <div class="brief__box-wrapper">
                        <p class="brief__description text-center mb-3">Обсудим проект? Вы можете заполнить бриф  или оставить короткую заявку.</p>
                        <a href="/brief" class="universal__button">
                            Бриф
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>