<footer class="footer">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-xl-3 col-sm-2 col-12 d-flex justify-content-center my-auto">
                <a href="/"><img class="footer-logo" src="/images/logo/logo.svg" alt="logo"></a>
            </div>
            <div class="col-lg-2 d-none d-lg-block">
                <ul class="footer-list text-uppercase">
                    <li class="footer-list__item"><a href="/">Главная</a></li>
                    <li class="footer-list__item"><a href="/services">Услуги</a></li>
                    <li class="footer-list__item"><a href="/portfolio">Портфолио</a></li>
                    <li class="footer-list__item mt-0"><a href="/contacts">Контакты</a></li>
                </ul>
            </div>
            <div class="col-xl-2 col-lg-4 col-sm-8 col-12">
                <ul class="footer-list">
                    <li class="footer-list__item text-lg-center d-none d-lg-block"><a href="tel:+79877776798"><span class="me-xxl-2 me-1"><img src="/images/footer/footer-phone.svg" alt="phone"></span>+7-987-777-67-98</a></li>
                    <li class="footer-list__item footer-list__item-city text-lg-center d-none d-lg-block"><a href="#"><span class="me-2"><img src="/images/footer/footer-map.svg" alt="map"></span>г.Новосибирск</a></li>
                    <li class="footer-list__item">
                        <ul class="row justify-content-xl-between justify-content-center list-inline footer-list__item-contacts">
                            <li class="px-1"><a href="tel:+79877776798"><img src="/images/footer/footer-phone.svg" alt="phone"></a></li>
                            <li class="px-lg-1 px-3"><a href="mailto:"><img src="/images/footer/footer-email.svg" alt="email"></a></li>
                            <li class="px-lg-1 px-3"><a href="#"><img src="/images/footer/footer-whatsapp.svg" alt="whatsapp"></a></li>
                            <li class="px-1"><a href="#"><img src="/images/footer/footer-telegram.svg" alt="telegram"></a></li>
                        </ul>
                    </li>
                    <li class="footer-list__item d-lg-none d-block">
                        <ul class="row justify-content-around list-inline">
                            <li class="col-sm-6 col-12 text-center"><a href="tel:+79877776798"><span class="me-xxl-2 me-1"><img src="/images/footer/footer-phone.svg" alt="phone"></span>+7-987-777-67-98</a></li>
                            <li class="col-sm-6 col-12 text-center mt-3 mt-sm-0 footer-list__item-city"><a href="#"><span class="me-2"><img src="/images/footer/footer-map.svg" alt="map"></span>г.Новосибирск</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-sm-2 col-lg-1 col-xl-2 col-12 d-flex justify-content-center my-sm-auto footer-to__up-wrapper">
                <a href="#" class="d-none d-sm-block"><img class="footer-to__up scroll-to__navbar" src="/images/footer/footer-to_up.svg" alt="to Up"></a>
                <a href="#" class="d-sm-none d-block"><img class="footer-to__up scroll-to__navbar" src="/images/footer/footer-to_up-mobile.svg" alt="to Up"></a>
            </div>
            <div class="col-xl-2 col-lg-3 d-none d-lg-flex justify-content-center my-auto footer-button__wrapper">
                <a href="#" class="universal__button {{#if isHome}}scroll-to__call{{else}}call-form-modal__button{{/if}}">
                    Заказать звонок
                </a>
            </div>
            <p class="footer-copyright">Copyright c 2021- 2022</p>
        </div>
    </div>
</footer>