<footer class="footer mt-5">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-3 d-flex justify-content-center my-auto">
                <a href="/"><img class="footer-logo" src="/images/logo/logo.svg" alt="logo"></a>
            </div>
            <div class="col-lg-2 my-auto">
                <ul class="footer-list text-uppercase">
                    <li class="footer-list__item"><a href="/">Главная</a></li>
                    <li class="footer-list__item"><a href="/services">Услуги</a></li>
                    <li class="footer-list__item"><a href="/portfolio">Портфолио</a></li>
                    <li class="footer-list__item"><a href="/contacts">Контакты</a></li>
                </ul>
            </div>
            <div class="col-lg-2 my-auto">
                <ul class="footer-list">
                    <li class="footer-list__item"><a href="tel:+79877776798"><span class="me-2"><img src="/images/footer-phone.svg" alt="phone"></span>+7-987-777-67-98</a></li>
                    <li class="footer-list__item footer-list__item-city"><a href="#"><span class="me-2"><img src="/images/footer-map.svg" alt="map"></span>г.Новосибирск</a></li>
                    <li class="footer-list__item">
                        <ul class="row justify-content-between list-inline footer-list__item-contacts">
                            <li><a href="tel:+79877776798"><img src="/images/footer-phone.svg" alt="phone"></a></li>
                            <li><a href="#"><img src="/images/footer-whatsapp.svg" alt="whatsapp"></a></li>
                            <li><a href="#"><img src="/images/footer-telegram.svg" alt="telegram"></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 d-flex justify-content-center my-auto">
                <a href="#"><img class="footer-to__up" src="/images/footer-to_up.svg" alt="to Up"></a>
            </div>
            <div class="col-lg-2 d-flex justify-content-center my-auto footer-button__wrapper">
                <a href="" class="universal__button">
                    Заказать звонок
                </a>
            </div>
            <p class="footer-copyright">Copyright c 2021- 2022</p>
        </div>
    </div>
</footer>