<nav class="navbar">
    <div class="container">
        <div class="row w-100">
            <div class="col-lg-1 offset-lg-1">
                <a class="navbar-brand" href="/">
                    <img src="/images/logo/logo.svg" width="60" height="75" class="d-inline-block align-top" alt="" loading="lazy">
                </a>
            </div>
            <div class="col-lg-5 offset-lg-1 my-auto">
                <ul class="navbar-nav flex-row justify-content-between">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Услуги</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Портфолио</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Контакты</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 text-center my-auto">
                <a href="" class="main__button">
                    Заказать звонок
                </a>
            </div>
        </div>
    </div>
</nav>