<nav class="navbar d-lg-block d-none" id="scroll-point__navbar">
    <div class="container">
        <div class="row w-100">
            <div class="col-lg-1 col-2 offset-xl-1">
                <a class="navbar-brand" href="/">
                    <img src="/images/logo/logo.svg" width="60" height="75" class="d-inline-block align-top" alt="" loading="lazy">
                </a>
            </div>
            <div class="col-xl-5 col-lg-7 offset-lg-1 my-auto d-none d-lg-block">
                <div class="navbar-dot"></div>
                <ul class="navbar-nav flex-row justify-content-between text-uppercase">
                    <li class="nav-item">
                        <a class="nav-link {{#if isHome}}active{{/if}}" href="/">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/services">Услуги</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/portfolio">Портфолио</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contacts">Контакты</a>
                    </li>
                </ul>
            </div>
            <div class="col-xl-2 col-lg-3 offset-xl-1 offset-lg-0 text-end my-auto d-none d-lg-block">
                <a href="#" class="universal__button scroll-to__call">
                    Заказать звонок
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="logo-wrap d-block d-lg-none">
    <a href="/"><img src="/images/logo/logo.svg" width="60" height="75" class="d-inline-block align-top" alt="" loading="lazy"></a>
</div>

<nav class="navbar-mobile d-block d-lg-none position-absolute vh-100">
    <header class="cd-header">
        <div class="header-wrapper">
            <div class="nav-but-wrap">
                <div class="menu-icon hover-target">
                    <span class="menu-icon__line menu-icon__line-left"></span>
                    <span class="menu-icon__line"></span>
                    <span class="menu-icon__line menu-icon__line-right"></span>
                </div>
            </div>
        </div>
    </header>

    <div class="nav">
        <div class="nav__content">
            <ul class="nav__list">
                <li class="nav__list-item"><a href="/" class="hover-target">Главная</a></li>
                <li class="nav__list-item"><a href="/services" class="hover-target">Услуги</a></li>
                <li class="nav__list-item"><a href="/portfolio" class="hover-target">Портфолио</a></li>
                <li class="nav__list-item"><a href="/contacts" class="hover-target">Контакты</a></li>
                <div class="nav__eye nav__list-item">
                    <div class="nav__eye-box position-absolute">
                        <img class="nav__eye-up__line" src="/images/navbar/eye-up__line.svg" alt="eye-up__line">
                        <img class="nav__eye-main" src="/images/navbar/eye-main.svg" alt="eye-main">
                        <img class="nav__eye-circle" src="/images/navbar/eye-circle.svg" alt="eye-circle">
                        <img class="nav__eye-inner__circle" src="/images/navbar/eye-inner__circle.svg" alt="eye-inner__circle">
                        <img class="nav__eye-plus" src="/images/navbar/eye-plus.svg" alt="eye-plus">
                        <img class="nav__eye-down__line" src="/images/navbar/eye-down__line.svg" alt="eye-down__line">
                    </div>


                    <a class="position-absolute nav__eye-email" href="">
                        <img src="/images/navbar/eye-email.svg" alt="email">
                    </a>
                    <a class="position-absolute nav__eye-phone"  href="">
                        <img src="/images/navbar/eye-phone.svg" alt="phone">
                    </a>
                    <a class="position-absolute nav__eye-map" href="">
                        <img src="/images/navbar/eye-map.svg" alt="map">
                    </a>
                    <a class="position-absolute nav__eye-whatsapp" href="">
                        <img src="/images/navbar/eye-whatsapp.svg" alt="whatsapp">
                    </a>
                    <a class="position-absolute nav__eye-telegram" href="">
                        <img src="/images/navbar/eye-telegram.svg" alt="telegram">
                    </a>
                </div>
            </ul>
        </div>
    </div>


    <div class='cursor' id="cursor"></div>
    <div class='cursor2' id="cursor2"></div>
    <div class='cursor3' id="cursor3"></div>
</nav>