@media (max-width: 1399.98px)

  //landing
  .landing
    &-info
      &__first-block
        .landing-info__block
          &:after
            left: -17%
      &__block
        &:after
          left: -26%
@media (max-width: 1199.98px)

  //landing
  .landing
    &-info
      &__first-block
        .landing-info__block
          &:after
            left: -20%
      &__block
        &:after
          left: -31%

@media (max-width: 991.98px)
  .landing
    padding-top: 150px
    &-info
      &__first-block
        .landing-info__block
          &:after
            left: 5%
      &__block
        min-height: 150px
        &:after
          font-size: 100px
          line-height: 280px
          left: 5%
          bottom: 0

@media (max-width: 767.98px)
  .landing
    &-title__background
      background-size: 280px
@media (max-width: 575.98px)

  //landing
  .landing
    &-title
      text-align: center
    &-title__background
      background-size: 200px
      background-position-y: 23px
      background-position-x: center
      padding-left: 0
      margin-left: 0
    &-subtitle
      margin-left: 0
      text-align: center
