<section class="error-notfound mt-5 mt-lg-0">
    <div class="container">
        <div class="error-notfound__wrapper">
            <h3 class="text-center text-white">Страница не найдена</h3>
            <button class="main-button universal__button-circle position-absolute" onclick="history.back(); return false">
                <span class="universal__button-circle-text">Вернуться назад</span>
                <div class="universal__button-circle-wrapper">
                    <div class="universal__button-circle-arrow"></div>
                    <div class="universal__button-circle-border"></div>
                    <div class="universal__button-circle-mask">
                        <div class="universal__button-circle-small"></div>
                    </div>
                </div>
            </button>
        </div>
    </div>
</section>