<section class="animation position-relative">
    <div class="container">
        <div class="row m-0 my-auto">
            <div class="col-lg-9 position-relative">
                <div class="row">
                    <div class="animation-circle position-absolute"></div>
                    <div class="col-lg-7 position-relative">
                        <div class="animation-title">
                            <div class="service-title__wrapper">
                                <div class="service-title__background">Consequat</div>
                                <h1 class="service-title text-end text-uppercase text-uppercase">Студия веб-разработки<br>Consequat</h1>
                            </div>
                            <p class="main-subtitle text-end">Наша организация специфицируется на создании сайтов. Мы создадим для вас уникальный проект с нуля или же доработаем действующий. <span class="d-none d-md-inline"></span></p>
                        </div>
                        <div class="animation-title1">
                            <div class="service-title__wrapper">
                                <div class="service-title__background">Consequat</div>
                                <h1 class="service-title text-end text-uppercase text-uppercase">Студия веб-разработки<br>Consequat</h1>
                            </div>
                            <p class="main-subtitle text-end">Наша организация специфицируется на создании сайтов. Мы создадим для вас уникальный проект с нуля или же доработаем действующий. <span class="d-none d-md-inline"></span></p>
                        </div>
                        <div class="animation-title"></div>
                        <div class="animation-title"></div>
                        <div class="animation-title"></div>
                    </div>
                    <div class="col-lg-5">
                        <img src="/images/pc.png" alt="pc" class="w-100">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 my-auto">
                <button class="main-button universal__button-circle position-absolute scroll-to__order">
                    <span class="universal__button-circle-text">Оставить заявку</span>
                    <div class="universal__button-circle-wrapper">
                        <div class="universal__button-circle-arrow"></div>
                        <div class="universal__button-circle-border"></div>
                        <div class="universal__button-circle-mask">
                            <div class="universal__button-circle-small"></div>
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </div>
</section>