<section class="brief-page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="service-title__wrapper">
                    <div class="service-title__background w-100">Brief</div>
                    <h2 class="service-title text-uppercase">Бриф</h2>
                </div>
                <p class="brief-page__subtitle">Бриф на разработку сайта поможет нам понять Ваши цели и задачи. Мы будем лучше ориентироваться в Вашем проекте и быстрее оценим стоимость и сроки разработки.</p>
            </div>
            <div class="col-lg-5 col-12 offset-lg-1 d-flex flex-column justify-content-center mb-4">
                <form class="brief-page__form-contacts row m-0 w-100 p-3" action="">
<!--                    <h3 class="text-white text-center mt-2 mb-3">Заполните контактные данные</h3>-->
                    <div class="col-lg-6 col-12">
                        <label for="briefName">Имя *</label>
                        <input class="form-control" type="text" name="briefName" id="briefName" placeholder="Ваше имя" required>
                    </div>
                    <div class="col-lg-6 col-12">
                        <label for="briefSecondName">Фамилия</label>
                        <input class="form-control" type="text" name="briefSecondName" id="briefSecondName" placeholder="Ваша фамилия">
                    </div>
                    <div class="col-12">
                        <label for="briefPhone">Номер телефона *</label>
                        <input class="form-control" type="tel" name="briefPhone" id="briefPhone" placeholder="Ваш номер телефона" required>
                    </div>
                    <div class="col-12">
                        <label for="briefEmail">Email *</label>
                        <input class="form-control" type="email" name="briefEmail" id="briefEmail" placeholder="Ваша почта" required>
                    </div>
                    <div class="col-12">
                        <label for="briefCompany">Название компании</label>
                        <input class="form-control" type="text" name="briefCompany" id="briefCompany" placeholder="Название Вашей компании">
                    </div>
                    <div class="col-12">
                        <label for="briefActualSite">Сайт Вашей компании (если есть)</label>
                        <input class="form-control" type="text" name="briefActualSite" id="briefActualSite" placeholder="example.ru">
                    </div>
                    <div class="col-12">
                        <label for="briefAboutCompany">Область деятельности, направления бизнеса</label>
                        <textarea class="form-control" name="briefAboutCompany" id="briefAboutCompany" placeholder="Напишите в какой сфере Вы работаете, можно указать специфику и особенности"></textarea>
                    </div>
                    <div class="col-12">
                        <label for="briefGeographic">География работы</label>
                        <textarea class="form-control" name="briefGeographic" id="briefGeographic" placeholder="Напишите в каких регионах Вы работаете" required></textarea>
                    </div>
                </form>
            </div>
            <div class="col-lg-5 col-12 d-lg-flex flex-column justify-content-center">
                <div class="brief-page__robot">
                    <img src="/images/brief-page__robot.png" alt="robot" class="w-100">
                </div>
            </div>
            <div class="col-11 offset-lg-1">
                <p class="brief-page__text-helper">Ответьте на все вопросы и отправьте бриф<br>Как только мы с ним ознакомимся, сразу свяжемся с Вами</p>
            </div>
            <div class="col-lg-10 col-12 offset-lg-1 mb-5 position-relative">
                <form class="brief-page__form h-100 w-100 p-3" action="">
                    <div class="iterator"></div>
                    <h4 class="text-center text-white mt-5 mb-3 question"></h4>
                    <div class="question-box row">

                    </div>
                    <div class="row justify-content-center mt-4 mb-4">
                        <div class="col-lg-5 col-md-7 d-flex justify-content-around">
                            <button type="button" class="brief-page__form-arrow prev-question"><span><img src="/images/brief-page__left-arrow.svg" alt="arrow"></span>Назад</button>
                            <button type="button" class="brief-page__form-arrow next-question">Далее<span><img src="/images/brief-page__right-arrow.svg" alt="arrow"></span></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>