<section class="contacts">
    <div class="container">
        <div class="row">
            <div class="col-lg-11 offset-lg-1 position-relative">
                <div class="contacts-title__background">
                    <h2 class="contacts-title text-uppercase">Контакты</h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-4 offset-lg-1 col-12 offset-0">
                <div class="contacts-wrapper">
                    <div class="contacts-wrapper__item">
                        <p>Адрес:</p>
                        <a href="#"><img src="/images/contacts/map.svg" alt="map-icon"> г.Новосибирск</a>
                    </div>
                    <div class="contacts-wrapper__item">
                        <p>Email:</p>
                        <a href="mailto:consstudio@gmail.com"><img src="images/contacts/contacts-mail.svg" alt="phone-icon">consstudio@gmail.com</a>
                    </div>
                    <div class="contacts-wrapper__item">
                        <p>Телефон:</p>
                        <a href="tel:+79877776798"><img src="images/contacts/Call.svg" alt="phone-icon">+7 (987) 777-67-98</a>
                    </div>
                    <div class="contacts-wrapper__icons d-lg-flex d-none">
                        <a href="tel:+79877776798"><img src="/images/contacts/call-icon.svg" alt="call-icon"></a>
                        <a href=""><img src="/images/contacts/whats-up-icon.svg" alt="whats-up-icon"></a>
                        <a href=""><img src="/images/contacts/telegram-icon.svg" alt="telegram-icon"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contacts-map">
                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A0c720737a825e97072283311701cb20dcd86a3bccbfe178102709c1bd6a90646&amp;source=constructor" width="100%" height="100%"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>