<section class="contacts">
    <div class="container">
        <div class="row">
            <div class="col-lg-11 offset-lg-1 position-relative">
                <div class="contacts-title__background">
                    <h2 class="contacts-title text-uppercase">Контакты</h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-4 offset-lg-1 col-12 offset-0">
                <div class="contacts-wrapper">
                    <div class="contacts-wrapper__address">
                        <div class="contacts-wrapper__address-item">
                            Адрес: <img src="/images/contacts/map.svg" alt="map-icon"> г.Новосибирск
                        </div>
                    </div>
                    <div class="contacts-wrapper__mail">
                        <div class="contacts-wrapper__mail-item">
                            Email: <a href="mailto:consstudio@gmail.com">consstudio@gmail.com</a>
                        </div>
                    </div>
                    <div class="contacts-wrapper__phone">
                        <div class="contacts-wrapper__phone-item">
                            Телефон: <img src="images/contacts/Call.svg" alt="phone-icon"><a href="tel:+79877776798">+7-987-777-67-98</a>
                        </div>
                    </div>
                    <div class="contacts-wrapper__icons d-lg-flex d-none">
                        <a href=""><img src="/images/contacts/call-icon.svg" alt="call-icon"></a>
                        <a href=""><img src="/images/contacts/whats-up-icon.svg" alt="whats-up-icon"></a>
                        <a href=""><img src="/images/contacts/mail-icon.svg" alt="mail-icon"></a>
                        <a href=""><img src="/images/contacts/telegram-icon.svg" alt="telegram-icon"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contacts-map">
                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A0c720737a825e97072283311701cb20dcd86a3bccbfe178102709c1bd6a90646&amp;source=constructor" width="100%" height="100%"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>