<section class="corporate">
    <div class="container">
        <div class="row w-100">
            <div class="col-sm-7 offset-sm-1 col-7 order-1">
                <div class="corporate__services-title__background">
                    <h2 class="corporate__services-title text-uppercase">Наши услуги</h2>
                </div>
                <p class="corporate__services-subtitle">Для достижения конкретных бизнес-целей ConsStudio разрабатывает популярные типы сайтов:</p>
            </div>
            <div class="col-lg-3 col-sm-4 col-12 order-sm-2 order-3 text-end my-auto mt-sm-0 mt-3">
                <a href="" class="services-button mx-sm-0 mx-auto">
                    От 20 000р.
                </a>
            </div>
        </div>
        <div class="row corporate-info">
            <div class="col-12 f-34 text-center corporate-info__title">
                Что входит?
            </div>
            <div class="col-xl-4 offset-xl-2 col-md-5 offset-md-0 col-12">
                <div class="corporate-info__block mx-auto">

                </div>
            </div>
            <div class="col-xl-4 offset-xl-1 col-md-5 offset-md-2">
                <div class="corporate-info__block mx-auto">

                </div>
            </div>
            <div class="col-xl-4 offset-xl-2 col-md-5 offset-md-0 col-12">
                <div class="corporate-info__block mx-auto">

                </div>
            </div>
            <div class="col-xl-4 offset-xl-1 col-md-5 offset-md-2 col-12">
                <div class="corporate-info__block mx-auto">

                </div>
            </div>
            <div class="col-xl-4 offset-xl-2 col-md-5 offset-md-0 col-12">
                <div class="corporate-info__block mx-auto">

                </div>
            </div>
            <div class="col-xl-4 offset-xl-1 col-md-5 offset-md-2 col-12">
                <div class="corporate-info__block mx-auto">

                </div>
            </div>
            <div class="col-xl-4 offset-xl-2 col-md-5 offset-md-0 col-12">
                <div class="corporate-info__block mx-auto">

                </div>
            </div>
            <div class="col-xl-4 offset-xl-1 col-md-5 offset-md-2 col-12">
                <div class="corporate-info__block mx-auto">

                </div>
            </div>
        </div>
    </div>
</section>

<section class="brief">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2 col-12">
                <div class="brief-block d-flex flex-column align-items-center">
                    <div class="brief-block__description text-center">
                        Обсудим проект? Вы можете заполнить бриф  или оставить короткую заявку.
                    </div>
                    <a href="" class="universal__button brief-block__button text-center">
                        БРИФ
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>