<section class="main mt-4">
    <div class="container">
        <div class="row position-relative">
            <div class="col-lg-5">
                <img src="/images/pc.png" alt="pc" class="w-100">
            </div>
            <div class="col-lg-5 offset-lg-2 p-0 my-auto">
                <div class="main-title__background">
                    <h1 class="main-title text-end text-uppercase f-44">Студия веб-разработки<br>Consequat</h1>
                </div>
                <p class="main-subtitle text-end f-16 mt-5">Наша организация специфицируется на создании сайтов. Мы создадим для вас уникальный проект с нуля или же доработаем действующий. У нас работают лучшие специалисты, которые любят свое дело.</p>
            </div>
            <button class="main-button universal__button-circle position-absolute">
                <span class="universal__button-circle-text">Оставить заявку</span>
                <div class="universal__button-circle-wrapper">
                    <div class="universal__button-circle-arrow"></div>
                    <div class="universal__button-circle-border"></div>
                    <div class="universal__button-circle-mask">
                        <div class="universal__button-circle-small"></div>
                    </div>
                </div>
            </button>
        </div>
    </div>
</section>

<section class="developing mt-5 pt-5">
    <div class="container pt-5">
        <div class="row position-relative developing-lines">
            <div class="col-lg-4 offset-lg-1">
                <div class="developing-title__background">
                    <h2 class="developing-title text-start text-uppercase f-34">Процесс разработки<br>вашего проекта</h2>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-2 offset-lg-1">
                        <div class="developing-process">
                            <div class="developing-circle developing-circle__1">
                                <img src="/images/developing-brif.svg" alt="brif">
                            </div>
                            <h3 class="developing-process__title developing-process__title-1">Бриф</h3>
                            <p class="developing-process__subtitle developing-process__subtitle-1">Знакомство и обмен информацией. Мы высылаем шаблон с вопросами. Получив заполненный бриф, мы внимательно знакомимся с ним.</p>
                        </div>
                    </div>
                    <div class="col-lg-2 offset-lg-1">
                        <div class="developing-process">
                            <div class="developing-circle developing-circle__2">
                                <img src="/images/developing-design.svg" alt="design">
                            </div>
                            <h3 class="developing-process__title developing-process__title-2">Дизайн</h3>
                            <p class="developing-process__subtitle developing-process__subtitle-2">Мы создаем прототипы для всех страниц, а так же при необходимости разрабатываем адаптивный дизайн.</p>
                        </div>
                    </div>
                    <div class="col-lg-2 offset-lg-1">
                        <div class="developing-process">
                            <div class="developing-circle developing-circle__3">
                                <img src="/images/developing-dev.svg" alt="developing">
                            </div>
                            <h3 class="developing-process__title developing-process__title-3">Разработка</h3>
                            <p class="developing-process__subtitle developing-process__subtitle-3">На этапе технических работ все реализуется в виде кода. Далее идет наполнение контентом. Все, что сделано в процессе разработки, тестируется.</p>
                        </div>
                    </div>
                    <div class="col-lg-2 offset-lg-1">
                        <div class="developing-process">
                            <div class="developing-circle developing-circle__4">
                                <img src="/images/developing-start.svg" alt="start">
                            </div>
                            <h3 class="developing-process__title developing-process__title-4">Запуск</h3>
                            <p class="developing-process__subtitle developing-process__subtitle-4">Перед запуском проект подвергается повторному тестированию. После этого сайт переносится на хостинг и подключается домен.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>