<section class="main mt-4">
    <div class="container">
        <div class="row position-relative">
            <div class="col-5">
                <img src="/images/pc.png" alt="pc" class="w-100">
            </div>
            <div class="col-5 offset-2 p-0 my-auto">
                <div class="main-back__title">
                    <h1 class="main-title text-end text-uppercase f-38">Студия веб-разработки<br>Consequat</h1>
                </div>
                <p class="main-subtitle text-end f-16 mt-5">Наша организация специфицируется на создании сайтов. Мы создадим для вас уникальный проект с нуля или же доработаем действующий. У нас работают лучшие специалисты, которые любят свое дело.</p>
            </div>
            <button class="main-button universal__button-circle position-absolute">
                <span class="universal__button-circle-text">Оставить заявку</span>
                <div class="universal__button-circle-wrapper">
                    <div class="universal__button-circle-arrow"></div>
                    <div class="universal__button-circle-border"></div>
                    <div class="universal__button-circle-mask">
                        <div class="universal__button-circle-small"></div>
                    </div>
                </div>
            </button>
        </div>
    </div>
</section>