<section class="main mt-4">
    <div class="container">
        <div class="row position-relative">
            <div class="col-lg-5">
                <img src="/images/pc.png" alt="pc" class="w-100">
            </div>
            <div class="col-lg-5 offset-lg-2 p-0 my-auto">
                <div class="main-title__background">
                    <h1 class="main-title text-end text-uppercase">Студия веб-разработки<br>Consequat</h1>
                </div>
                <p class="main-subtitle text-end mt-5">Наша организация специфицируется на создании сайтов. Мы создадим для вас уникальный проект с нуля или же доработаем действующий. У нас работают лучшие специалисты, которые любят свое дело.</p>
            </div>
            <button class="main-button universal__button-circle position-absolute">
                <span class="universal__button-circle-text">Оставить заявку</span>
                <div class="universal__button-circle-wrapper">
                    <div class="universal__button-circle-arrow"></div>
                    <div class="universal__button-circle-border"></div>
                    <div class="universal__button-circle-mask">
                        <div class="universal__button-circle-small"></div>
                    </div>
                </div>
            </button>
        </div>
    </div>
</section>

<section class="developing mt-5 pt-5">
    <div class="container pt-5">
        <div class="row position-relative developing-lines">
            <div class="col-lg-4 offset-lg-1">
                <div class="developing-title__background">
                    <h2 class="developing-title text-start text-uppercase">Процесс разработки<br>вашего проекта</h2>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-2 offset-lg-1">
                        <div class="developing-process">
                            <div class="developing-circle developing-circle__1">
                                <img src="/images/developing-brif.svg" alt="brif">
                            </div>
                            <h3 class="developing-process__title developing-process__title-1">Бриф</h3>
                            <p class="developing-process__subtitle developing-process__subtitle-1">Знакомство и обмен информацией. Мы высылаем шаблон с вопросами. Получив заполненный бриф, мы внимательно знакомимся с ним.</p>
                        </div>
                    </div>
                    <div class="col-lg-2 offset-lg-1">
                        <div class="developing-process">
                            <div class="developing-circle developing-circle__2">
                                <img src="/images/developing-design.svg" alt="design">
                            </div>
                            <h3 class="developing-process__title developing-process__title-2">Дизайн</h3>
                            <p class="developing-process__subtitle developing-process__subtitle-2">Мы создаем прототипы для всех страниц, а так же при необходимости разрабатываем адаптивный дизайн.</p>
                        </div>
                    </div>
                    <div class="col-lg-2 offset-lg-1">
                        <div class="developing-process">
                            <div class="developing-circle developing-circle__3">
                                <img src="/images/developing-dev.svg" alt="developing">
                            </div>
                            <h3 class="developing-process__title developing-process__title-3">Разработка</h3>
                            <p class="developing-process__subtitle developing-process__subtitle-3">На этапе технических работ все реализуется в виде кода. Далее идет наполнение контентом. Все, что сделано в процессе разработки, тестируется.</p>
                        </div>
                    </div>
                    <div class="col-lg-2 offset-lg-1">
                        <div class="developing-process">
                            <div class="developing-circle developing-circle__4">
                                <img src="/images/developing-start.svg" alt="start">
                            </div>
                            <h3 class="developing-process__title developing-process__title-4">Запуск</h3>
                            <p class="developing-process__subtitle developing-process__subtitle-4">Перед запуском проект подвергается повторному тестированию. После этого сайт переносится на хостинг и подключается домен.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="skills mt-5">
    <div class="container pt-5 h-100">
        <div class="row position-relative h-100">
            <div class="col-lg-3 offset-lg-1 position-relative">
                <div class="skills-wrapper w-100">
                    <div class="skills-title__background">
                        <h2 class="skills-title text-uppercase">При помощи чего мы<br>создаем сайты?</h2>
                    </div>
                    <p class="skills-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-12 offset-lg-1">
                        <h3 class="skills-item skills-item__backend">Backend
                            <span class="position-absolute">
                                <img src="/images/skills-nodejs.png" alt="node.js" class="ms-3">
                                <img src="/images/skills-expressjs.png" alt="express.js" class="ms-3">
                            </span>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 offset-lg-1">
                        <h3 class="skills-item skills-item__frontend">Frontend
                            <span class="position-absolute">
                                <img src="/images/skills-html.png" alt="html" class="ms-3">
                                <img src="/images/skills-bootstrap.png" alt="bootstrap" class="ms-3">
                            </span>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 offset-lg-1">
                        <h3 class="skills-item skills-item__databases">Databases
                            <span class="position-absolute">
                                <img src="/images/skills-mysql.png" alt="mysql" class="ms-3">
                                <img src="/images/skills-mongodb.png" alt="mongodb" class="ms-3">
                            </span>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="skills-item skills-item__design">UI/UX
                            <span class="position-absolute">
                                <img src="/images/skills-figma.png" alt="figma" class="ms-3">
                                <img src="/images/skills-photoshop.png" alt="photoshop" class="ms-3">
                                <img src="/images/skills-illustrator.png" alt="illustrator" class="ms-3">
                            </span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="call mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 offset-lg-1">
                <div class="call-wrapper">
                    <h2 class="call-title text-uppercase">Заказать звонок</h2>
                    <p class="call-subtitle">Заполните форму, мы Вам перезвоним</p>
                </div>
            </div>
            <div class="col-lg-7">
                <form class="call-form row" action="/call" method="post">
                    <div class="col-lg-10">
                        <input class="form-control mb-2" type="text" name="callName" id="callName" placeholder="Ваше имя">
                        <input class="form-control" type="text" name="callPhone" id="callPhone" placeholder="Ваш номер телефона">
                    </div>
                    <div class="col-lg-2">
                        <button type="submit"><img src="/images/call-button.png" alt="submit"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="team pt-5">
    <div class="container">
        <div class="row mt-5 pt-5">
            <div class="col-lg-5 offset-lg-1 position-relative">
                <div class="team-title__background mt-5">
                    <h2 class="team-title text-uppercase">Команда</h2>
                </div>
                <p class="team-subtitle">У нас работают лучшие специалисты, которые любят свое дело.</p>
            </div>
            <div class="col-lg-10 offset-lg-1 mt-5">
                <div class="row justify-content-between">
                    <div class="col-lg-3">
                        <div class="row justify-content-center">
                            <img class="team-avatar" src="/images/team-sasha.svg" alt="sasha">
                        </div>
                        <div class="row justify-content-center">
                            <h4 class="team-avatar__title text-center">Александра</h4>
                        </div>
                        <div class="row justify-content-center">
                            <p class="team-avatar__subtitle text-center">Директор отдела продаж</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row justify-content-center">
                            <img class="team-avatar" src="/images/team-gera.svg" alt="gera">
                        </div>
                        <div class="row justify-content-center">
                            <h4 class="team-avatar__title text-center">Гера</h4>
                        </div>
                        <div class="row justify-content-center">
                            <p class="team-avatar__subtitle text-center">UI/UX Designer</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row justify-content-center">
                            <img class="team-avatar" src="/images/team-arseniy.svg" alt="arseniy">
                        </div>
                        <div class="row justify-content-center">
                            <h4 class="team-avatar__title text-center">Арсений</h4>
                        </div>
                        <div class="row justify-content-center">
                            <p class="team-avatar__subtitle text-center">Frontend developer</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row justify-content-center">
                            <img class="team-avatar" src="/images/team-kirill.svg" alt="kirill">
                        </div>
                        <div class="row justify-content-center">
                            <h4 class="team-avatar__title text-center">Кирилл</h4>
                        </div>
                        <div class="row justify-content-center">
                            <p class="team-avatar__subtitle text-center">Frontend / backend developer</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 d-flex justify-content-center mt-5 pt-5">
                <a class="team-arrow" href="#">
                    <img src="/images/team-arrow.svg" alt="arrow">
                </a>
            </div>
        </div>
    </div>
</section>

<section class="home__services pt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-11 offset-lg-1 position-relative mb-5">
                <div class="home__services-title__background">
                    <h2 class="home__services-title text-uppercase">Наши услуги</h2>
                </div>
                <p class="home__services-subtitle">Для достижения конкретных бизнес-целей ConsStudio разрабатывает популярные типы сайтов:</p>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="home__services-box">
                    <div class="row justify-content-center">
                        <h3 class="home__services-box__title text-center text-uppercase">Landing-page</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="home__services-box__subtitle text-center">Небольшой одностраничный сайт, полностью заточенный под то, чтобы попадающий на него клиент выполнил целевое действие.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="home__services-box">
                    <div class="row justify-content-center">
                        <h3 class="home__services-box__title text-center text-uppercase">Сайт-визитка</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="home__services-box__subtitle text-center">
                            Основная цель - краткая передача информации о компании или персоне для привлечения внимания посетителей.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="home__services-box">
                    <div class="row justify-content-center">
                        <h3 class="home__services-box__title text-center text-uppercase">Корпоративный сайт</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="home__services-box__subtitle text-center">Сайт представляет собой своеобразную рекламную площадку, призванную привлекать новых клиентов.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="home__services-box">
                    <div class="row justify-content-center">
                        <h3 class="home__services-box__title text-center text-uppercase">Дизайн</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="home__services-box__subtitle text-center">Нарисуем дизайн для вашего будущего сайта с учетом всех ваших требований.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="home__services-box">
                    <div class="row justify-content-center">
                        <h3 class="home__services-box__title text-center text-uppercase">Интернет магазин</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="home__services-box__subtitle text-center">Современный инструмент для ведения своего бизнеса в онлайн режиме.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="home__services-box">
                    <div class="row justify-content-center">
                        <h3 class="home__services-box__title text-center text-uppercase">Блог</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="home__services-box__subtitle text-center">Ваш "личный дневник", с помощью которого вы можете делиться личным мнением, опытом, впечатлениями.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 d-flex justify-content-center">
                <button class="universal__button-circle position-absolute">
                    <span class="universal__button-circle-text text-uppercase">Все услуги</span>
                    <div class="universal__button-circle-wrapper">
                        <div class="universal__button-circle-arrow"></div>
                        <div class="universal__button-circle-border"></div>
                        <div class="universal__button-circle-mask">
                            <div class="universal__button-circle-small"></div>
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </div>
</section>

<section class="form mt-5 pt-5">
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-8 offset-lg-2 mb-5">
                <div class="form-brief__box position-relative">
                    <div class="form-brief__box-wrapper">
                        <p class="form-brief__description text-center mb-3">Обсудим проект? Вы можете заполнить бриф  или оставить короткую заявку.</p>
                        <a href="/brief" class="universal__button">
                            Бриф
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mt-3 mb-4">
                <h2 class="form-title text-center text-uppercase">Короткая заявка</h2>
            </div>
            <div class="col-lg-6 offset-lg-3 position-relative">
                <div class="form-robot position-absolute">
                    <img src="/images/form-robot.png" alt="robot">
                </div>
                <form class="row form-order" action="/order">
                    <div class="col-lg-6">
                        <label for="orderName">Имя</label>
                        <input class="form-control" type="text" name="orderName" id="orderName" placeholder="Ваше имя">
                    </div>
                    <div class="col-lg-6">
                        <label for="orderSecondName">Фамилия</label>
                        <input class="form-control" type="text" name="orderSecondName" id="orderSecondName" placeholder="Ваша фамилия">
                    </div>
                    <div class="col-lg-12">
                        <label for="orderEmail">Email</label>
                        <input class="form-control" type="text" name="orderEmail" id="orderEmail" placeholder="Ваша почта">
                    </div>
                    <div class="col-lg-12">
                        <label for="orderPhone">Номер телефона</label>
                        <input class="form-control" type="text" name="orderPhone" id="orderPhone" placeholder="Ваш номер телефона">
                    </div>
                    <div class="col-lg-12">
                        <label for="orderService">Услуга</label>
                        <select class="form-control" name="orderService" id="orderService">
                            <option value="" disabled selected>Выберите услугу</option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="col-lg-12">
                        <label for="orderText">Расскажите о вашем проекте:</label>
                        <textarea class="form-control" type="text" name="orderText" id="orderText" rows="5"></textarea>
                    </div>
                    <div class="col-lg-12">
                        <p>* Обязательные поля</p>
                    </div>
                    <div class="col-lg-12">
                        <p>Нажимая на кнопку “Оставить заявку”, вы соглашаетесь с <a href="/policy">Политикой конфиденциальности</a></p>
                    </div>
                    <div class="col-lg-12 d-flex justify-content-center mt-3">
                        <button type="submit" class="form-order__button">
                            Оставить заявку
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>