<section class="landing">
    <div class="container">
        <div class="row w-100">
            <div class="col-7 offset-1">
                <div class="landing-back__title">
                    <h1 class="f-34 fw-bold landing-title title">Landing - page</h1>
                </div>
            </div>
            <div class="col-lg-3 text-end my-auto">
                <a href="" class="universal__button">
                    От 20 000р.
                </a>
            </div>
            <div class="col-5 offset-1 f-18 services-subtitle subtitle">
                Для достижения конкретных бизнес-целей ConsStudio разрабатывает популярные типы сайтов:
            </div>
        </div>
        <div class="row landing-info">
            <div class="col-12 f-34 text-center landing-info__title">
                Что входит?
            </div>
            <div class="col-4 offset-2 landing-info__block">

            </div>
            <div class="col-4 offset-2 landing-info__block">

            </div>
            <div class="col-4 offset-2 landing-info__block">

            </div>
        </div>
    </div>
</section>