<section class="portfolio mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 position-relative">
                <div class="service-title__wrapper">
                    <div class="service-title__background">Projects</div>
                    <h2 class="service-title text-uppercase">Проекты</h2>
                </div>
            </div>
        </div>
        <div class="row project-wrapper">
            <div class="col-12 d-flex d-lg-flex d-none">
                <div class="project-info__name">Интернет каталог "Roehrich"</div>
            </div>
            <div class="col-5 order-lg-1 order-2">
                <div class="project-info">
                    <div class="project-info__mobile d-lg-none d-flex flex-column align-items-start ">
                        <div class="project-name__short">Интернет каталог "Roehrich"</div>
                        <div class="project-description__short">
                            Lorem ipsum dolor sit amet.
                            Lorem ipsum dolor sit amet.
                        </div>
                        <a href="" class="universal__button project-info__button mt-md-5 mt-2 mb-lg-3 mb-0">
                            roehrich.ru
                        </a>
                        <a href="#" class="universal__button project-info__button mt-lg-3 mt-2">
                            О проекте
                        </a>
                    </div>
                    <h5 class="text-white">Описание проекта</h5>
                    <p class="text-white">Интернет каталог для металлоконструкций с возможностью оформить заказ и обратной связи. Для заказчика сделали удобную административну панель, с возможностью полного редактирования и добавления товара\услуг\категорий. Сайт выполнен в преиущественно темном цвете, по запросу заказчика.</p>
                </div>
            </div>
            <div class="col-7 order-lg-2 order-1">
                <a href="" class="project-link">
                    <div class="img-shadow"></div>
                    <div class="project-link__button">
                        Перейти на сайт
                    </div>
                    <img src="/images/portfolio/Project-img-1.png" alt="Project-img">
                </a>
            </div>
            <div class="col-12 d-lg-none order-3 project-description mt-3">
                <h5 class="text-white">Описание проекта</h5>
                <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad adipisci asperiores dignissimos doloribus dolorum impedit in iusto molestias mollitia nemo, nobis officia, perspiciatis porro quibusdam quidem quis sequi tenetur.</p>
            </div>
        </div>
        <div class="row project-wrapper">
            <div class="col-12 d-flex d-lg-flex d-none">
                <div class="project-info__name">Название проекта</div>
            </div>
            <div class="col-7 order-lg-1">
                <a href="" class="project-link">
                    <div class="img-shadow"></div>
                    <div class="project-link__button">
                        Перейти на сайт
                    </div>
                    <img src="/images/portfolio/Project-img-2.png" alt="Project-img">
                </a>
            </div>
            <div class="col-5 order-lg-2">
                <div class="project-info">
                    <div class="project-info__mobile d-lg-none d-flex flex-column align-items-start ">
                        <div class="project-name__short">Название проекта</div>
                        <div class="project-description__short">
                            Lorem ipsum dolor sit amet.
                            Lorem ipsum dolor sit amet.
                        </div>
                        <a href="" class="universal__button project-info__button mt-md-5 mt-2 mb-lg-3 mb-0">
                            roehrich.ru
                        </a>
                        <a href="#" class="universal__button project-info__button mt-lg-3 mt-2">
                            О проекте
                        </a>
                    </div>
                    <h5 class="text-white">Описание проекта</h5>
                    <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad adipisci asperiores dignissimos doloribus dolorum impedit in iusto molestias mollitia nemo, nobis officia, perspiciatis porro quibusdam quidem quis sequi tenetur.</p>
                </div>
            </div>
            <div class="col-12 d-lg-none order-3 project-description mt-3">
                <h5 class="text-white">Описание проекта</h5>
                <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad adipisci asperiores dignissimos doloribus dolorum impedit in iusto molestias mollitia nemo, nobis officia, perspiciatis porro quibusdam quidem quis sequi tenetur.</p>
            </div>
        </div>
        <div class="row project-wrapper project-wrapper__last">
            <div class="col-12 d-flex d-lg-flex d-none">
                <div class="project-info__name">Название проекта</div>
            </div>
            <div class="col-5 order-lg-1 order-2">
                <div class="project-info">
                    <div class="project-info__mobile d-lg-none d-flex flex-column align-items-start ">
                        <div class="project-name__short">Название проекта</div>
                        <div class="project-description__short">
                            Lorem ipsum dolor sit amet.
                            Lorem ipsum dolor sit amet.
                        </div>
                        <a href="" class="universal__button project-info__button mt-md-5 mt-2 mb-lg-3 mb-0">
                            roehrich.ru
                        </a>
                        <a href="#" class="universal__button project-info__button mt-lg-3 mt-2">
                            О проекте
                        </a>
                    </div>
                    <h5 class="text-white">Описание проекта</h5>
                    <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad adipisci asperiores dignissimos doloribus dolorum impedit in iusto molestias mollitia nemo, nobis officia, perspiciatis porro quibusdam quidem quis sequi tenetur.</p>
                </div>
            </div>
            <div class="col-7 order-lg-2 order-1">
                <a href="#" class="project-link">
                    <div class="img-shadow"></div>
                    <div class="project-link__button">
                        Перейти на сайт
                    </div>
                    <img src="/images/portfolio/Project-img-3.png" alt="Project-img">
                </a>
            </div>
            <div class="col-12 d-lg-none order-3 project-description mt-3">
                <h5 class="text-white">Описание проекта</h5>
                <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad adipisci asperiores dignissimos doloribus dolorum impedit in iusto molestias mollitia nemo, nobis officia, perspiciatis porro quibusdam quidem quis sequi tenetur.</p>
            </div>
        </div>

<!--        Mobile-portfolio-->

        <div class="row project-wrapper__mobile d-sm-none d-flex">
            <div class="col-12 mobile-project__info">
                <div class="mobile-project__name">Название проекта</div>
                <div class="mobile-project__description">
                    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                </div>
            </div>
            <div class="col-12">
                <div class="mobile-project__img">
                    <img class="img-fluid" src="/images/portfolio/Project-img-1.png" alt="Project-img">
                </div>
            </div>
            <div class="col-12">
                <div class="mobile-project__buttons">
                    <div class="d-flex justify-content-around">
                        <a href="https://roehrich-opt.ru" class="universal__button project-info__button mt-lg-5 mt-2 mb-lg-3 mb-0">
                            Сайт
                        </a>
                        <a href="#" class="universal__button project-info__button mt-lg-3 mt-2">
                            О проекте
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 project-description mt-3">
                <h5 class="text-white">Описание проекта</h5>
                <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad adipisci asperiores dignissimos doloribus dolorum impedit in iusto molestias mollitia nemo, nobis officia, perspiciatis porro quibusdam quidem quis sequi tenetur.</p>
            </div>
        </div>
        <div class="row project-wrapper__mobile d-sm-none d-flex">
            <div class="col-12 mobile-project__info">
                <div class="mobile-project__name">Название проекта</div>
                <div class="mobile-project__description">
                    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                </div>
            </div>
            <div class="col-12">
                <div class="mobile-project__img">
                    <img class="img-fluid" src="/images/portfolio/Project-img-1.png" alt="Project-img">
                </div>
            </div>
            <div class="col-12">
                <div class="mobile-project__buttons">
                    <div class="d-flex justify-content-around">
                        <a href="https://roehrich-opt.ru" class="universal__button project-info__button mt-lg-5 mt-2 mb-lg-3 mb-0">
                            Сайт
                        </a>
                        <a href="#" class="universal__button project-info__button mt-lg-3 mt-2">
                            О проекте
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 project-description mt-3">
                <h5 class="text-white">Описание проекта</h5>
                <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad adipisci asperiores dignissimos doloribus dolorum impedit in iusto molestias mollitia nemo, nobis officia, perspiciatis porro quibusdam quidem quis sequi tenetur.</p>
            </div>
        </div>
        <div class="row project-wrapper__mobile d-sm-none d-flex">
            <div class="col-12 mobile-project__info">
                <div class="mobile-project__name">Название проекта</div>
                <div class="mobile-project__description">
                    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
                </div>
            </div>
            <div class="col-12">
                <div class="mobile-project__img">
                    <img class="img-fluid" src="/images/portfolio/Project-img-1.png" alt="Project-img">
                </div>
            </div>
            <div class="col-12">
                <div class="mobile-project__buttons">
                    <div class="d-flex justify-content-around">
                        <a href="https://roehrich-opt.ru" class="universal__button project-info__button mt-lg-5 mt-2 mb-lg-3 mb-0">
                            Сайт
                        </a>
                        <a href="#" class="universal__button project-info__button mt-lg-3 mt-2">
                            О проекте
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 project-description mt-3">
                <h5 class="text-white">Описание проекта</h5>
                <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad adipisci asperiores dignissimos doloribus dolorum impedit in iusto molestias mollitia nemo, nobis officia, perspiciatis porro quibusdam quidem quis sequi tenetur.</p>
            </div>
        </div>
    </div>
</section>