<section class="portfolio mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 position-relative">
                <div class="service-title__wrapper">
                    <div class="service-title__background">Projects</div>
                    <h2 class="service-title text-uppercase">Проекты</h2>
                </div>
            </div>
        </div>
        <div class="row project-wrapper">
            <div class="col-12 d-flex d-lg-flex d-none">
                <div class="project-info__name">Интернет-каталог</div>
            </div>
            <div class="col-5 order-lg-1 order-2">
                <div class="project-info">
                    <div class="project-info__mobile d-lg-none d-flex flex-column align-items-start ">
                        <div class="project-name__short">Интернет-каталог</div>
                        <div class="project-description__short">
                            Данный ресурс служит для заказа товаров/услуг компании ООО "Рёрих".
                        </div>
                        <a href="https://roehrich-opt.ru" class="universal__button project-info__button mt-md-5 mt-2 mb-lg-3 mb-0">
                            roehrich-opt.ru
                        </a>
                        <a href="#" class="universal__button project-info__button mt-lg-3 mt-2">
                            О проекте
                        </a>
                    </div>
                    <div class="d-none d-lg-block text-white">
                        <h5>Описание проекта</h5>
                        <p>
                            Данный ресурс служит для заказа товаров/услуг компании ООО "Рёрих".
                            <br>Проект разработан по дизайну нашего специалиста.
                            <br>Сайт выполнен в преимущественно в темном цвете с золотым акцентом, по запросу заказчика.
                            <br>На сайте присутсвует:</p>
                        <ul>
                            <li>Форма обратной связи;</li>
                            <li>Живой поиск по товарам;</li>
                            <li>Удобная корзина;</li>
                            <li>Возможность оформления заказа;</li>
                        </ul>
                        <p>
                            Для заказчика сделали удобную административную панель, с возможностью полного редактирования и добавления товара, услуг и категорий.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-7 order-lg-2 order-1">
                <a href="https://roehrich-opt.ru" class="project-link">
                    <div class="img-shadow"></div>
                    <div class="project-link__button">
                        Перейти на сайт
                    </div>
                    <img src="/images/portfolio/roehrich.png" alt="roehrich">
                </a>
            </div>
            <div class="col-12 d-lg-none order-3 project-description mt-3">
                <div class="text-white">
                    <h5>Описание проекта</h5>
                    <p>
                        Проект разработан по дизайну нашего специалиста.
                        <br>Сайт выполнен преимущественно в темном цвете с золотым акцентом, по запросу заказчика.
                        <br>На сайте присутсвует:</p>
                    <ul>
                        <li>Форма обратной связи;</li>
                        <li>Живой поиск по товарам;</li>
                        <li>Удобная корзина;</li>
                        <li>Возможность оформления заказа;</li>
                    </ul>
                    <p>
                        Для заказчика сделали удобную административную панель, с возможностью полного редактирования и добавления товара, услуг и категорий.
                    </p>
                </div>
            </div>
        </div>
        <div class="row project-wrapper">
            <div class="col-12 d-flex d-lg-flex d-none">
                <div class="project-info__name">Сайт-визитка</div>
            </div>
            <div class="col-7 order-lg-1">
                <a href="https://roehrich-st.info" class="project-link">
                    <div class="img-shadow"></div>
                    <div class="project-link__button">
                        Перейти на сайт
                    </div>
                    <img src="/images/portfolio/roehrich-st.png" alt="roehrich-st">
                </a>
            </div>
            <div class="col-5 order-lg-2">
                <div class="project-info">
                    <div class="project-info__mobile d-lg-none d-flex flex-column align-items-start ">
                        <div class="project-name__short">Сайт-визитка</div>
                        <div class="project-description__short">
                            Данный ресурс служит для ознакомления с товарами/услугами компании ООО "Рёрих".
                        </div>
                        <a href="https://roehrich-st.info" class="universal__button project-info__button mt-md-5 mt-2 mb-lg-3 mb-0">
                            roehrich-st.info
                        </a>
                        <a href="#" class="universal__button project-info__button mt-lg-3 mt-2">
                            О проекте
                        </a>
                    </div>
                    <div class="text-white d-none d-lg-block">
                        <h5>Описание проекта</h5>
                        <p>
                            Данный ресурс служит для ознакомления с товарами/услугами компании ООО "Рёрих".
                            <br>Проект разработан по дизайну нашего специалиста.
                            <br>Выполнен преимущественно в светлом цвете, по запросу заказчика.
                            <br>На сайте присутсвует:</p>
                        <ul>
                            <li>Информация о компании;</li>
                            <li>Информация о товарах компании;</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 d-lg-none order-3 project-description mt-3">
                <div class="text-white">
                    <h5>Описание проекта</h5>
                    <p>
                        Проект разработан по дизайну нашего специалиста.
                        <br>Выполнен преимущественно в светлом цвете, по запросу заказчика.
                        <br>На сайте присутсвует:</p>
                    <ul>
                        <li>Информация о компании;</li>
                        <li>Информация о товарах компании;</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row project-wrapper">
            <div class="col-12 d-flex d-lg-flex d-none">
                <div class="project-info__name">Lending-page</div>
            </div>
            <div class="col-5 order-lg-1 order-2">
                <div class="project-info">
                    <div class="project-info__mobile d-lg-none d-flex flex-column align-items-start ">
                        <div class="project-name__short">Lending-page</div>
                        <div class="project-description__short">
                            Данный ресурс является электронным каталогом компании СИБПРОФМЕТАЛЛ.
                        </div>
                        <a href="https://spm-catalog.info" class="universal__button project-info__button mt-md-5 mt-2 mb-lg-3 mb-0">
                            spm-catalog.info
                        </a>
                        <a href="#" class="universal__button project-info__button mt-lg-3 mt-2">
                            О проекте
                        </a>
                    </div>
                    <div class="text-white d-none d-lg-block">
                        <h5>Описание проекта</h5>
                        <p>
                            Данный ресурс является электронным каталогом компании СИБПРОФМЕТАЛЛ, с возможностью заказа товаров.
                            <br>Проект разработан по дизайну нашего специалиста.
                            <br>Выполнен преимущественно в светло-синих тонах, на основе уже имеющегося каталога компании.
                            <br>На сайте присутсвует:</p>
                        <ul>
                            <li>Удобная форма заказа;</li>
                            <li>Подсветка чертежа при наведении на размер;</li>
                            <li>Удобная корзина;</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-7 order-lg-2 order-1">
                <a href="https://spm-catalog.info" class="project-link">
                    <div class="img-shadow"></div>
                    <div class="project-link__button">
                        Перейти на сайт
                    </div>
                    <img src="/images/portfolio/spm-catalog.png" alt="spm-catalog">
                </a>
            </div>
            <div class="col-12 d-lg-none order-3 project-description mt-3">
                <div class="text-white">
                    <h5>Описание проекта</h5>
                    <p>
                        Данный ресурс является электронным каталогом компании СИБПРОФМЕТАЛЛ, с возможностью заказа товаров.
                        <br>Проект разработан по дизайну нашего специалиста.
                        <br>Выполнен преимущественно в светло-синих тонах, на основе уже имеющегося каталога компании.
                        <br>На сайте присутсвует:</p>
                    <ul>
                        <li>Удобная форма заказа;</li>
                        <li>Подсветка чертежа при наведении на размер;</li>
                        <li>Удобная корзина;</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row project-wrapper">
            <div class="col-12 d-flex d-lg-flex d-none">
                <div class="project-info__name">Сайт-визитка</div>
            </div>
            <div class="col-7 order-lg-1">
                <a href="https://wolf-tools.ru.com" class="project-link">
                    <div class="img-shadow"></div>
                    <div class="project-link__button">
                        Перейти на сайт
                    </div>
                    <img src="/images/portfolio/wolf.png" alt="wolf-tools">
                </a>
            </div>
            <div class="col-5 order-lg-2">
                <div class="project-info">
                    <div class="project-info__mobile d-lg-none d-flex flex-column align-items-start ">
                        <div class="project-name__short">Сайт-визитка</div>
                        <div class="project-description__short">
                            Сайт-визитка компании, специализация которой - изготовление фрез.
                        </div>
                        <a href="https://wolf-tools.ru.com" class="universal__button project-info__button mt-md-5 mt-2 mb-lg-3 mb-0">
                            wolf-tools.ru.com
                        </a>
                        <a href="#" class="universal__button project-info__button mt-lg-3 mt-2">
                            О проекте
                        </a>
                    </div>
                    <div class="text-white d-none d-lg-block">
                        <h5>Описание проекта</h5>
                        <p>
                            Сайт визитка для немецкой компании, основанной в 1985 году, специализация которой - изготовление фрез.
                            <br>Проект выполнен в соответствии с основным зарубежным сайтом, преимущественно в светлых тонах с красным акцентом.
                            <br>На сайте присутсвует:</p>
                        <ul>
                            <li>Необходимая информация компании;</li>
                            <li>Форма обратной связи;</li>
                            <li>Калькулятор расчета режимов резания;</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 d-lg-none order-3 project-description mt-3">
                <div class="text-white">
                    <h5>Описание проекта</h5>
                    <p>
                        Сайт визитка для немецкой компании, основанной в 1985 году, специализация которой - изготовление фрез.
                        <br>Проект выполнен в соответствии с основным зарубежным сайтом, преимущественно в светлых тонах с красным акцентом.
                        <br>На сайте присутсвует:</p>
                    <ul>
                        <li>Необходимая информация компании;</li>
                        <li>Форма обратной связи;</li>
                        <li>Калькулятор расчета режимов резания;</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row project-wrapper project-wrapper__last">
            <div class="col-12 d-flex d-lg-flex d-none">
                <div class="project-info__name">Корпоративный сайт</div>
            </div>
            <div class="col-5 order-lg-1 order-2">
                <div class="project-info">
                    <div class="project-info__mobile d-lg-none d-flex flex-column align-items-start ">
                        <div class="project-name__short">Корпоративный сайт</div>
                        <div class="project-description__short">
                            Корпоративный сайт компании "АБ Чертеж", которая занимается созданием макетов по чертежам.
                        </div>
                        <a href="https://чертежи.рф" class="universal__button project-info__button mt-md-5 mt-2 mb-lg-3 mb-0">
                            чертежи.рф
                        </a>
                        <a href="#" class="universal__button project-info__button mt-lg-3 mt-2">
                            О проекте
                        </a>
                    </div>
                    <div class="text-white d-none d-lg-block">
                        <h5>Описание проекта</h5>
                        <p>Корпоративный сайт компании "АБ Чертеж", которая занимается созданием макетов по чертежам.
                            <br>Произведен редизайн сайта с добавлением нового функционала.
                            <br>Сайт разработан в соотвествии с требованием заказчика с сохранением структуры старого сайта.
                            <br>Так же присутсвтует описание всех услуг, что предоставляет компания.
                            <br>Имеется форма обратной связи с возможностью заказать макет.
                            <br>На сайт интегрированы отзывы с Флампа.
                            <br>Для заказчика была создана административная панель с возможность редактирования портфолио компании и добавлении новых проектов.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-7 order-lg-2 order-1">
                <a href="https://чертежи.рф" class="project-link">
                    <div class="img-shadow"></div>
                    <div class="project-link__button">
                        Перейти на сайт
                    </div>
                    <img src="/images/portfolio/drafts.png" alt="drafts">
                </a>
            </div>
            <div class="col-12 d-lg-none order-3 project-description mt-3">
                <div class="text-white">
                    <h5>Описание проекта</h5>
                    <p>Произведен редизайн сайта с добавлением нового функционала.
                        <br>Сайт разработан в соотвествии с требованием заказчика с сохранением структуры старого сайта.
                        <br>Так же присутсвтует описание всех услуг, что предоставляет компания.
                        <br>Имеется форма обратной связи с возможностью заказать макет.
                        <br>На сайт интегрированы отзывы с Флампа.
                        <br>Для заказчика была создана административная панель с возможность редактирования портфолио компании и добавлении новых проектов.
                    </p>
                </div>
            </div>
        </div>

<!--        Mobile-portfolio-->

        <div class="row project-wrapper__mobile d-sm-none d-flex">
            <div class="col-12 mobile-project__info">
                <div class="mobile-project__name">Интернет-каталог</div>
                <div class="mobile-project__description">
                    Данный ресурс служит для заказа товаров/услуг компании ООО "Рёрих".
                </div>
            </div>
            <div class="col-12">
                <div class="mobile-project__img">
                    <img class="img-fluid" src="/images/portfolio/roehrich.png" alt="roehrich">
                </div>
            </div>
            <div class="col-12">
                <div class="mobile-project__buttons">
                    <div class="d-flex justify-content-around">
                        <a href="https://roehrich-opt.ru" class="universal__button project-site mt-lg-5 mt-2 mb-lg-3 mb-0">
                            Сайт
                        </a>
                        <a href="#" class="universal__button project-info__button mt-lg-3 mt-2">
                            О проекте
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 project-description mt-3">
                <div class="text-white">
                    <h5>Описание проекта</h5>
                    <p>
                        Данный ресурс служит для заказа товаров/услуг компании ООО "Рёрих".
                        <br>Проект разработан по дизайну нашего специалиста.
                        <br>Сайт выполнен в преимущественно в темном цвете с золотым акцентом, по запросу заказчика.
                        <br>На сайте присутсвует:</p>
                    <ul>
                        <li>Форма обратной связи;</li>
                        <li>Живой поиск по товарам;</li>
                        <li>Удобная корзина;</li>
                        <li>Возможность оформления заказа;</li>
                    </ul>
                    <p>
                        Для заказчика сделали удобную административную панель, с возможностью полного редактирования и добавления товара, услуг и категорий.
                    </p>
                </div>
            </div>
        </div>
        <div class="row project-wrapper__mobile d-sm-none d-flex">
            <div class="col-12 mobile-project__info">
                <div class="mobile-project__name">Сайт-визитка</div>
                <div class="mobile-project__description">
                    Данный ресурс служит для ознакомления с товарами/услугами компании ООО "Рёрих".
                </div>
            </div>
            <div class="col-12">
                <div class="mobile-project__img">
                    <img class="img-fluid" src="/images/portfolio/roehrich-st.png" alt="roehrich-st">
                </div>
            </div>
            <div class="col-12">
                <div class="mobile-project__buttons">
                    <div class="d-flex justify-content-around">
                        <a href="https://roehrich-st.info" class="universal__button project-site mt-lg-5 mt-2 mb-lg-3 mb-0">
                            Сайт
                        </a>
                        <a href="#" class="universal__button project-info__button mt-lg-3 mt-2">
                            О проекте
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 project-description mt-3">
                <div class="text-white">
                    <h5>Описание проекта</h5>
                    <p>
                        Проект разработан по дизайну нашего специалиста.
                        <br>Выполнен преимущественно в светлом цвете, по запросу заказчика.
                        <br>На сайте присутсвует:</p>
                    <ul>
                        <li>Информация о компании;</li>
                        <li>Информация о товарах компании;</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row project-wrapper__mobile d-sm-none d-flex">
            <div class="col-12 mobile-project__info">
                <div class="mobile-project__name">Landing-page</div>
                <div class="mobile-project__description">
                    Данный ресурс является электронным каталогом компании СИБПРОФМЕТАЛЛ.
                </div>
            </div>
            <div class="col-12">
                <div class="mobile-project__img">
                    <img class="img-fluid" src="/images/portfolio/spm-catalog.png" alt="spm-catalog">
                </div>
            </div>
            <div class="col-12">
                <div class="mobile-project__buttons">
                    <div class="d-flex justify-content-around">
                        <a href="https://spm-catalog.info" class="universal__button project-site mt-lg-5 mt-2 mb-lg-3 mb-0">
                            Сайт
                        </a>
                        <a href="#" class="universal__button project-info__button mt-lg-3 mt-2">
                            О проекте
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 project-description mt-3">
                <div class="text-white">
                    <h5>Описание проекта</h5>
                    <p>
                        Данный ресурс является электронным каталогом компании СИБПРОФМЕТАЛЛ, с возможностью заказа товаров.
                        <br>Проект разработан по дизайну нашего специалиста.
                        <br>Выполнен преимущественно в светло-синих тонах, на основе уже имеющегося каталога компании.
                        <br>На сайте присутсвует:</p>
                    <ul>
                        <li>Удобная форма заказа;</li>
                        <li>Подсветка чертежа при наведении на размер;</li>
                        <li>Удобная корзина;</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row project-wrapper__mobile d-sm-none d-flex">
            <div class="col-12 mobile-project__info">
                <div class="mobile-project__name">Landing-page</div>
                <div class="mobile-project__description">
                    Сайт-визитка компании, специализация которой - изготовление фрез.
                </div>
            </div>
            <div class="col-12">
                <div class="mobile-project__img">
                    <img class="img-fluid" src="/images/portfolio/wolf.png" alt="wolf-tools">
                </div>
            </div>
            <div class="col-12">
                <div class="mobile-project__buttons">
                    <div class="d-flex justify-content-around">
                        <a href="https://wolf-tools.ru.com" class="universal__button project-site mt-lg-5 mt-2 mb-lg-3 mb-0">
                            Сайт
                        </a>
                        <a href="#" class="universal__button project-info__button mt-lg-3 mt-2">
                            О проекте
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 project-description mt-3">
                <div class="text-white">
                    <h5>Описание проекта</h5>
                    <p>
                        Сайт визитка для немецкой компании, основанной в 1985 году, специализация которой - изготовление фрез.
                        <br>Проект выполнен в соответствии с основным зарубежным сайтом, преимущественно в светлых тонах с красным акцентом.
                        <br>На сайте присутсвует:</p>
                    <ul>
                        <li>Необходимая информация компании;</li>
                        <li>Форма обратной связи;</li>
                        <li>Калькулятор расчета режимов резания;</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row project-wrapper__mobile d-sm-none d-flex">
            <div class="col-12 mobile-project__info">
                <div class="mobile-project__name">Корпоративный сайт</div>
                <div class="mobile-project__description">
                    Корпоративный сайт компании "АБ Чертеж", которая занимается созданием макетов по чертежам.
                </div>
            </div>
            <div class="col-12">
                <div class="mobile-project__img">
                    <img class="img-fluid" src="/images/portfolio/drafts.png" alt="drafts">
                </div>
            </div>
            <div class="col-12">
                <div class="mobile-project__buttons">
                    <div class="d-flex justify-content-around">
                        <a href="https://чертежи.su" class="universal__button project-site mt-lg-5 mt-2 mb-lg-3 mb-0">
                            Сайт
                        </a>
                        <a href="#" class="universal__button project-info__button mt-lg-3 mt-2">
                            О проекте
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 project-description mt-3">
                <div class="text-white">
                    <h5>Описание проекта</h5>
                    <p>Произведен редизайн сайта с добавлением нового функционала.
                        <br>Сайт разработан в соотвествии с требованием заказчика с сохранением структуры старого сайта.
                        <br>Так же присутсвтует описание всех услуг, что предоставляет компания.
                        <br>Имеется форма обратной связи с возможностью заказать макет.
                        <br>На сайт интегрированы отзывы с Флампа.
                        <br>Для заказчика была создана административная панель с возможность редактирования портфолио компании и добавлении новых проектов.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>