<section class="services mb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 position-relative mt-5 mb-5">
                <div class="services-title__background">
                    <h2 class="services-title text-uppercase">Наши услуги</h2>
                </div>
                <p class="services-subtitle">Для достижения конкретных бизнес-целей ConsStudio разрабатывает популярные типы сайтов:</p>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="/landing" class="services-box">
                    <div class="row justify-content-center">
                        <h3 class="services-box__title text-center text-uppercase">Landing-page</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="services-box__subtitle text-center">Небольшой одностраничный сайт, полностью заточенный под то, чтобы попадающий на него клиент выполнил целевое действие.</p>
                    </div>
                    <button class="main-button universal__button-circle services-button__bottom mx-auto">
                        <span class="universal__button-circle-text d-sm-flex d-none">Подробнее</span>
                        <div class="universal__button-circle-wrapper services__button-circle-wrapper">
                            <div class="universal__button-circle-arrow services__button-circle-arrow"></div>
                            <div class="universal__button-circle-border services__button-circle-border"></div>
                            <div class="universal__button-circle-mask d-sm-flex d-none">
                                <div class="universal__button-circle-small"></div>
                            </div>
                        </div>
                    </button>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="/site-card" class="services-box">
                    <div class="row justify-content-center">
                        <h3 class="services-box__title text-center text-uppercase">Сайт-визитка</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="services-box__subtitle text-center">
                            Основная цель - краткая передача информации о компании или персоне для привлечения внимания посетителей.</p>
                    </div>
                    <button class="main-button universal__button-circle services-button__bottom mx-auto">
                        <span class="universal__button-circle-text d-sm-flex d-none">Подробнее</span>
                        <div class="universal__button-circle-wrapper services__button-circle-wrapper">
                            <div class="universal__button-circle-arrow services__button-circle-arrow"></div>
                            <div class="universal__button-circle-border services__button-circle-border"></div>
                            <div class="universal__button-circle-mask d-sm-flex d-none">
                                <div class="universal__button-circle-small"></div>
                            </div>
                        </div>
                    </button>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="/corporate" class="services-box">
                    <div class="row justify-content-center">
                        <h3 class="services-box__title text-center text-uppercase">Корпоративный сайт</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="services-box__subtitle text-center">Сайт представляет собой своеобразную рекламную площадку, призванную привлекать новых клиентов.</p>
                    </div>
                    <button class="main-button universal__button-circle services-button__bottom mx-auto">
                        <span class="universal__button-circle-text d-sm-flex d-none">Подробнее</span>
                        <div class="universal__button-circle-wrapper services__button-circle-wrapper">
                            <div class="universal__button-circle-arrow services__button-circle-arrow"></div>
                            <div class="universal__button-circle-border services__button-circle-border"></div>
                            <div class="universal__button-circle-mask d-sm-flex d-none">
                                <div class="universal__button-circle-small"></div>
                            </div>
                        </div>
                    </button>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="/design" class="services-box">
                    <div class="row justify-content-center">
                        <h3 class="services-box__title text-center text-uppercase">Дизайн</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="services-box__subtitle text-center">Нарисуем дизайн для вашего будущего сайта с учетом всех ваших требований.</p>
                    </div>
                    <button class="main-button universal__button-circle services-button__bottom mx-auto">
                        <span class="universal__button-circle-text d-sm-flex d-none">Подробнее</span>
                        <div class="universal__button-circle-wrapper services__button-circle-wrapper">
                            <div class="universal__button-circle-arrow services__button-circle-arrow"></div>
                            <div class="universal__button-circle-border services__button-circle-border"></div>
                            <div class="universal__button-circle-mask d-sm-flex d-none">
                                <div class="universal__button-circle-small"></div>
                            </div>
                        </div>
                    </button>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="/store" class="services-box">
                    <div class="row justify-content-center">
                        <h3 class="services-box__title text-center text-uppercase">Интернет магазин</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="services-box__subtitle text-center">Современный инструмент для ведения своего бизнеса в онлайн режиме.</p>
                    </div>
                    <button class="main-button universal__button-circle services-button__bottom mx-auto">
                        <span class="universal__button-circle-text d-sm-flex d-none">Подробнее</span>
                        <div class="universal__button-circle-wrapper services__button-circle-wrapper">
                            <div class="universal__button-circle-arrow services__button-circle-arrow"></div>
                            <div class="universal__button-circle-border services__button-circle-border"></div>
                            <div class="universal__button-circle-mask d-sm-flex d-none">
                                <div class="universal__button-circle-small"></div>
                            </div>
                        </div>
                    </button>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="/blog" class="services-box">
                    <div class="row justify-content-center">
                        <h3 class="services-box__title text-center text-uppercase">Блог</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="services-box__subtitle text-center">Ваш "личный дневник", с помощью которого вы можете делиться личным мнением, опытом, впечатлениями.</p>
                    </div>
                    <button class="main-button universal__button-circle services-button__bottom mx-auto">
                        <span class="universal__button-circle-text d-sm-flex d-none">Подробнее</span>
                        <div class="universal__button-circle-wrapper services__button-circle-wrapper">
                            <div class="universal__button-circle-arrow services__button-circle-arrow"></div>
                            <div class="universal__button-circle-border services__button-circle-border"></div>
                            <div class="universal__button-circle-mask d-sm-flex d-none">
                                <div class="universal__button-circle-small"></div>
                            </div>
                        </div>
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>