<section class="services mb-5">
    <div class="container">
        <div class="row w-100 m-0">
            <div class="col-12 position-relative mb-5">
                <div class="service-title__wrapper">
                    <div class="service-title__background">Services</div>
                    <h2 class="service-title text-uppercase">Наши услуги</h2>
                </div>
                <p class="services-subtitle">Для достижения конкретных бизнес-целей ConsStudio разрабатывает популярные типы сайтов:</p>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="/landing" class="services-box">
                    <div class="row justify-content-center">
                        <h3 class="services-box__title text-center text-uppercase">Landing-page</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="services-box__subtitle text-center">Небольшой одностраничный сайт, полностью заточенный под то, чтобы попадающий на него клиент выполнил целевое действие.</p>
                    </div>
                    <button class="main-button universal__button-circle services-button__bottom mx-auto">
                        <span class="universal__button-circle-text d-sm-flex d-none">Подробнее</span>
                        <div class="universal__button-circle-wrapper services__button-circle-wrapper">
                            <div class="universal__button-circle-arrow services__button-circle-arrow"></div>
                            <div class="universal__button-circle-border services__button-circle-border"></div>
                            <div class="universal__button-circle-mask d-sm-flex d-none">
                                <div class="universal__button-circle-small"></div>
                            </div>
                        </div>
                    </button>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="/site-card" class="services-box">
                    <div class="row justify-content-center">
                        <h3 class="services-box__title text-center text-uppercase">Сайт-визитка</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="services-box__subtitle text-center">
                            Основная цель - краткая передача информации о компании или персоне для привлечения внимания посетителей.</p>
                    </div>
                    <button class="main-button universal__button-circle services-button__bottom mx-auto">
                        <span class="universal__button-circle-text d-sm-flex d-none">Подробнее</span>
                        <div class="universal__button-circle-wrapper services__button-circle-wrapper">
                            <div class="universal__button-circle-arrow services__button-circle-arrow"></div>
                            <div class="universal__button-circle-border services__button-circle-border"></div>
                            <div class="universal__button-circle-mask d-sm-flex d-none">
                                <div class="universal__button-circle-small"></div>
                            </div>
                        </div>
                    </button>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="/corporate" class="services-box">
                    <div class="row justify-content-center">
                        <h3 class="services-box__title text-center text-uppercase">Корпоративный сайт</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="services-box__subtitle text-center">Сайт представляет собой своеобразную рекламную площадку, призванную привлекать новых клиентов.</p>
                    </div>
                    <button class="main-button universal__button-circle services-button__bottom mx-auto">
                        <span class="universal__button-circle-text d-sm-flex d-none">Подробнее</span>
                        <div class="universal__button-circle-wrapper services__button-circle-wrapper">
                            <div class="universal__button-circle-arrow services__button-circle-arrow"></div>
                            <div class="universal__button-circle-border services__button-circle-border"></div>
                            <div class="universal__button-circle-mask d-sm-flex d-none">
                                <div class="universal__button-circle-small"></div>
                            </div>
                        </div>
                    </button>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="/design" class="services-box">
                    <div class="row justify-content-center">
                        <h3 class="services-box__title text-center text-uppercase">Дизайн</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="services-box__subtitle text-center">Нарисуем дизайн для вашего будущего сайта с учетом всех ваших требований.</p>
                    </div>
                    <button class="main-button universal__button-circle services-button__bottom mx-auto">
                        <span class="universal__button-circle-text d-sm-flex d-none">Подробнее</span>
                        <div class="universal__button-circle-wrapper services__button-circle-wrapper">
                            <div class="universal__button-circle-arrow services__button-circle-arrow"></div>
                            <div class="universal__button-circle-border services__button-circle-border"></div>
                            <div class="universal__button-circle-mask d-sm-flex d-none">
                                <div class="universal__button-circle-small"></div>
                            </div>
                        </div>
                    </button>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="/store" class="services-box">
                    <div class="row justify-content-center">
                        <h3 class="services-box__title text-center text-uppercase">Интернет-магазин</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="services-box__subtitle text-center">Современный инструмент для ведения своего бизнеса в онлайн режиме.</p>
                    </div>
                    <button class="main-button universal__button-circle services-button__bottom mx-auto">
                        <span class="universal__button-circle-text d-sm-flex d-none">Подробнее</span>
                        <div class="universal__button-circle-wrapper services__button-circle-wrapper">
                            <div class="universal__button-circle-arrow services__button-circle-arrow"></div>
                            <div class="universal__button-circle-border services__button-circle-border"></div>
                            <div class="universal__button-circle-mask d-sm-flex d-none">
                                <div class="universal__button-circle-small"></div>
                            </div>
                        </div>
                    </button>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="/blog" class="services-box">
                    <div class="row justify-content-center">
                        <h3 class="services-box__title text-center text-uppercase">Блог</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="services-box__subtitle text-center">Ваш "личный дневник", с помощью которого вы можете делиться личным мнением, опытом, впечатлениями.</p>
                    </div>
                    <button class="main-button universal__button-circle services-button__bottom mx-auto">
                        <span class="universal__button-circle-text d-sm-flex d-none">Подробнее</span>
                        <div class="universal__button-circle-wrapper services__button-circle-wrapper">
                            <div class="universal__button-circle-arrow services__button-circle-arrow"></div>
                            <div class="universal__button-circle-border services__button-circle-border"></div>
                            <div class="universal__button-circle-mask d-sm-flex d-none">
                                <div class="universal__button-circle-small"></div>
                            </div>
                        </div>
                    </button>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="/eco-site" class="services-box">
                    <div class="row justify-content-center">
                        <h3 class="services-box__title text-center text-uppercase">Эконом-сайт</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="services-box__subtitle text-center">Сайт имеет до 3-их страниц, обратную форму связи + мобильную версию.</p>
                    </div>
                    <button class="main-button universal__button-circle services-button__bottom mx-auto">
                        <span class="universal__button-circle-text d-sm-flex d-none">Подробнее</span>
                        <div class="universal__button-circle-wrapper services__button-circle-wrapper">
                            <div class="universal__button-circle-arrow services__button-circle-arrow"></div>
                            <div class="universal__button-circle-border services__button-circle-border"></div>
                            <div class="universal__button-circle-mask d-sm-flex d-none">
                                <div class="universal__button-circle-small"></div>
                            </div>
                        </div>
                    </button>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="/redesign" class="services-box">
                    <div class="row justify-content-center">
                        <h3 class="services-box__title text-center text-uppercase">Редизайн сайта</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="services-box__subtitle text-center">Нарисуем полностью новый дизайн и перенесем на весь ваш сайт</p>
                    </div>
                    <button class="main-button universal__button-circle services-button__bottom mx-auto">
                        <span class="universal__button-circle-text d-sm-flex d-none">Подробнее</span>
                        <div class="universal__button-circle-wrapper services__button-circle-wrapper">
                            <div class="universal__button-circle-arrow services__button-circle-arrow"></div>
                            <div class="universal__button-circle-border services__button-circle-border"></div>
                            <div class="universal__button-circle-mask d-sm-flex d-none">
                                <div class="universal__button-circle-small"></div>
                            </div>
                        </div>
                    </button>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="/showcase" class="services-box">
                    <div class="row justify-content-center">
                        <h3 class="services-box__title text-center text-uppercase">Интернет-каталог</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="services-box__subtitle text-center">Электронный каталог с карточками товаров. Данный сайт предназначен только для просмотра и выбора товаров.</p>
                    </div>
                    <button class="main-button universal__button-circle services-button__bottom mx-auto">
                        <span class="universal__button-circle-text d-sm-flex d-none">Подробнее</span>
                        <div class="universal__button-circle-wrapper services__button-circle-wrapper">
                            <div class="universal__button-circle-arrow services__button-circle-arrow"></div>
                            <div class="universal__button-circle-border services__button-circle-border"></div>
                            <div class="universal__button-circle-mask d-sm-flex d-none">
                                <div class="universal__button-circle-small"></div>
                            </div>
                        </div>
                    </button>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="/adaptive-design" class="services-box">
                    <div class="row justify-content-center">
                        <h3 class="services-box__title text-center text-uppercase">Адаптация сайта</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="services-box__subtitle text-center">Адаптируем ваш сайт под мобильные устройства.</p>
                    </div>
                    <button class="main-button universal__button-circle services-button__bottom mx-auto">
                        <span class="universal__button-circle-text d-sm-flex d-none">Подробнее</span>
                        <div class="universal__button-circle-wrapper services__button-circle-wrapper">
                            <div class="universal__button-circle-arrow services__button-circle-arrow"></div>
                            <div class="universal__button-circle-border services__button-circle-border"></div>
                            <div class="universal__button-circle-mask d-sm-flex d-none">
                                <div class="universal__button-circle-small"></div>
                            </div>
                        </div>
                    </button>
                </a>
            </div>


            <div class="col-12 position-relative mt-5 mb-5">
                <div class="service-title__wrapper">
                    <div class="service-title__background">Additional services</div>
                    <h2 class="service-title text-uppercase">Дополнительные услуги</h2>
                </div>
                <p class="services-subtitle">Так же ConsStudio предоставляет дополнительные услуги:</p>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="/photography" class="services-box">
                    <div class="row justify-content-center">
                        <h3 class="services-box__title text-center text-uppercase">Фотосъемка<br>(любого направления)</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="services-box__subtitle text-center">Предлагаем широкий спектр фотоуслуг - от контента для социальных сетей до свадебных фотографий.</p>
                    </div>
                    <button class="main-button universal__button-circle services-button__bottom mx-auto">
                        <span class="universal__button-circle-text d-sm-flex d-none">Подробнее</span>
                        <div class="universal__button-circle-wrapper services__button-circle-wrapper">
                            <div class="universal__button-circle-arrow services__button-circle-arrow"></div>
                            <div class="universal__button-circle-border services__button-circle-border"></div>
                            <div class="universal__button-circle-mask d-sm-flex d-none">
                                <div class="universal__button-circle-small"></div>
                            </div>
                        </div>
                    </button>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="/photomontage" class="services-box">
                    <div class="row justify-content-center">
                        <h3 class="services-box__title text-center text-uppercase">Монтаж фото</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="services-box__subtitle text-center">Обработаем, изменим ваши фотографии или создадим коллаж на основе нескольких снимков.</p>
                    </div>
                    <button class="main-button universal__button-circle services-button__bottom mx-auto">
                        <span class="universal__button-circle-text d-sm-flex d-none">Подробнее</span>
                        <div class="universal__button-circle-wrapper services__button-circle-wrapper">
                            <div class="universal__button-circle-arrow services__button-circle-arrow"></div>
                            <div class="universal__button-circle-border services__button-circle-border"></div>
                            <div class="universal__button-circle-mask d-sm-flex d-none">
                                <div class="universal__button-circle-small"></div>
                            </div>
                        </div>
                    </button>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="/videography" class="services-box">
                    <div class="row justify-content-center">
                        <h3 class="services-box__title text-center text-uppercase">Видеосъемка<br>(любого направления)</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="services-box__subtitle text-center">Предлагаем широкий перечень направлений - будь то рекламная съемка или видео детского праздника.</p>
                    </div>
                    <button class="main-button universal__button-circle services-button__bottom mx-auto">
                        <span class="universal__button-circle-text d-sm-flex d-none">Подробнее</span>
                        <div class="universal__button-circle-wrapper services__button-circle-wrapper">
                            <div class="universal__button-circle-arrow services__button-circle-arrow"></div>
                            <div class="universal__button-circle-border services__button-circle-border"></div>
                            <div class="universal__button-circle-mask d-sm-flex d-none">
                                <div class="universal__button-circle-small"></div>
                            </div>
                        </div>
                    </button>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="/creating-logo" class="services-box">
                    <div class="row justify-content-center">
                        <h3 class="services-box__title text-center text-uppercase">Создание логотипа</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="services-box__subtitle text-center">Мы поможем создать фирменный стиль вашего бренда, соблюдая все аспекты современных требований.</p>
                    </div>
                    <button class="main-button universal__button-circle services-button__bottom mx-auto">
                        <span class="universal__button-circle-text d-sm-flex d-none">Подробнее</span>
                        <div class="universal__button-circle-wrapper services__button-circle-wrapper">
                            <div class="universal__button-circle-arrow services__button-circle-arrow"></div>
                            <div class="universal__button-circle-border services__button-circle-border"></div>
                            <div class="universal__button-circle-mask d-sm-flex d-none">
                                <div class="universal__button-circle-small"></div>
                            </div>
                        </div>
                    </button>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="/creating-slogan" class="services-box">
                    <div class="row justify-content-center">
                        <h3 class="services-box__title text-center text-uppercase">Создание слогана</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="services-box__subtitle text-center">Создадим рекламный слоган, который будет отражать индивидуальность вашей компании и донесет уникальность характеристик продукта до сознания потребителя.</p>
                    </div>
                    <button class="main-button universal__button-circle services-button__bottom mx-auto">
                        <span class="universal__button-circle-text d-sm-flex d-none">Подробнее</span>
                        <div class="universal__button-circle-wrapper services__button-circle-wrapper">
                            <div class="universal__button-circle-arrow services__button-circle-arrow"></div>
                            <div class="universal__button-circle-border services__button-circle-border"></div>
                            <div class="universal__button-circle-mask d-sm-flex d-none">
                                <div class="universal__button-circle-small"></div>
                            </div>
                        </div>
                    </button>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="/creating-3D-video" class="services-box">
                    <div class="row justify-content-center">
                        <h3 class="services-box__title text-center text-uppercase">Создание 3D видео</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="services-box__subtitle text-center">3D презентация может стать ключом в решении задач вашей рекламной кампании.</p>
                    </div>
                    <button class="main-button universal__button-circle services-button__bottom mx-auto">
                        <span class="universal__button-circle-text d-sm-flex d-none">Подробнее</span>
                        <div class="universal__button-circle-wrapper services__button-circle-wrapper">
                            <div class="universal__button-circle-arrow services__button-circle-arrow"></div>
                            <div class="universal__button-circle-border services__button-circle-border"></div>
                            <div class="universal__button-circle-mask d-sm-flex d-none">
                                <div class="universal__button-circle-small"></div>
                            </div>
                        </div>
                    </button>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="/3D-visual" class="services-box">
                    <div class="row justify-content-center">
                        <h3 class="services-box__title text-center text-uppercase">3D визуализация</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="services-box__subtitle text-center">3D визуализации предметов интерьера, мебели, зданий и объектов, а также создания 3D панорамы.</p>
                    </div>
                    <button class="main-button universal__button-circle services-button__bottom mx-auto">
                        <span class="universal__button-circle-text d-sm-flex d-none">Подробнее</span>
                        <div class="universal__button-circle-wrapper services__button-circle-wrapper">
                            <div class="universal__button-circle-arrow services__button-circle-arrow"></div>
                            <div class="universal__button-circle-border services__button-circle-border"></div>
                            <div class="universal__button-circle-mask d-sm-flex d-none">
                                <div class="universal__button-circle-small"></div>
                            </div>
                        </div>
                    </button>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="/copyright" class="services-box">
                    <div class="row justify-content-center">
                        <h3 class="services-box__title text-center text-uppercase">Копирайтинг</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="services-box__subtitle text-center">Создадим контент с целью рекламы или других форм маркетинга.</p>
                    </div>
                    <button class="main-button universal__button-circle services-button__bottom mx-auto">
                        <span class="universal__button-circle-text d-sm-flex d-none">Подробнее</span>
                        <div class="universal__button-circle-wrapper services__button-circle-wrapper">
                            <div class="universal__button-circle-arrow services__button-circle-arrow"></div>
                            <div class="universal__button-circle-border services__button-circle-border"></div>
                            <div class="universal__button-circle-mask d-sm-flex d-none">
                                <div class="universal__button-circle-small"></div>
                            </div>
                        </div>
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>