<section class="services mb-5">
    <div class="container">
        <div class="row w-100 m-0">
            <div class="col-12 position-relative mb-5">
                <div class="service-title__wrapper">
                    <div class="service-title__background">Why are we?</div>
                    <h2 class="service-title text-uppercase">Почему мы?</h2>
                </div>
                <p class="services-subtitle mb-4">Почему стоит заказать услуги дизайна и разработки сайтов у нас?</p>
                <div class="row position-relative">
                    <div class="col-lg-7 position-absolute services-why__border d-none d-lg-block"></div>
                    <div class="col-12 col-lg-10 offset-lg-2 services-why mb-3 position-relative">
                        <div class="services-robot position-absolute d-none d-lg-block">
                            <img src="/images/robot.png" alt="robot">
                        </div>
                        <ul class="text-white m-0">
                            <li>Лояльные цены на услуги web-разработки.</li>
                            <li>Приверженность качеству исполнения каждого проекта. В своей работе мы ценим ресурсы клиентов и стараемся находить индивидуальный подход к самой уникальной задаче.</li>
                            <li>Работа как с техническим заданием, так и с нашими предложениями по наилучшей реализации ваших идей.</li>
                            <li>Анализ ваших конкурентов перед началом разработки сайта, что бы добиться наиболее качественного продукта.</li>
                            <li>Гарантия уникальности. Уделяем особое внимание оформлению и дизайну сайта, добавляя акцент на идею бренда.</li>
                            <li>Высокая скорость загрузки сайта и качество пользования ресурсом.</li>
                            <li>Подберем узнаваемый и запоминающийся домен, который будет отражать идею вашего бренда. Настроим оптимальную работу хостинга.</li>
                            <li>Оперативное внесение незначительных правок после запуска вашего сайта.</li>
                            <li>Техническая поддержка. Бесплатное консультирование по вопросам ведения сайта в первый месяц после сдачи проекта.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 position-relative mb-3 mt-5">
                <div class="service-title__wrapper">
                    <div class="service-title__background">Services</div>
                    <h2 class="service-title text-uppercase">Наши услуги</h2>
                </div>
                <p class="services-subtitle">Для достижения конкретных бизнес-целей ConsStudio разрабатывает популярные типы сайтов:</p>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="/landing" class="services-box">
                    <div class="row justify-content-center">
                        <h3 class="services-box__title text-center text-uppercase">Landing-page</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="services-box__subtitle text-center">Небольшой одностраничный сайт, полностью заточенный под то, чтобы попадающий на него клиент выполнил целевое действие.</p>
                    </div>
                    <button class="main-button universal__button-circle services-button__bottom mx-auto">
                        <span class="universal__button-circle-text d-sm-flex d-none">Подробнее</span>
                        <div class="universal__button-circle-wrapper services__button-circle-wrapper">
                            <div class="universal__button-circle-arrow services__button-circle-arrow"></div>
                            <div class="universal__button-circle-border services__button-circle-border"></div>
                            <div class="universal__button-circle-mask d-sm-flex d-none">
                                <div class="universal__button-circle-small"></div>
                            </div>
                        </div>
                    </button>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="/site-card" class="services-box">
                    <div class="row justify-content-center">
                        <h3 class="services-box__title text-center text-uppercase">Сайт-визитка</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="services-box__subtitle text-center">
                            Основная цель - краткая передача информации о компании или персоне для привлечения внимания посетителей.</p>
                    </div>
                    <button class="main-button universal__button-circle services-button__bottom mx-auto">
                        <span class="universal__button-circle-text d-sm-flex d-none">Подробнее</span>
                        <div class="universal__button-circle-wrapper services__button-circle-wrapper">
                            <div class="universal__button-circle-arrow services__button-circle-arrow"></div>
                            <div class="universal__button-circle-border services__button-circle-border"></div>
                            <div class="universal__button-circle-mask d-sm-flex d-none">
                                <div class="universal__button-circle-small"></div>
                            </div>
                        </div>
                    </button>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="/corporate" class="services-box">
                    <div class="row justify-content-center">
                        <h3 class="services-box__title text-center text-uppercase">Корпоративный сайт</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="services-box__subtitle text-center">Сайт представляет собой своеобразную рекламную площадку, призванную привлекать новых клиентов.</p>
                    </div>
                    <button class="main-button universal__button-circle services-button__bottom mx-auto">
                        <span class="universal__button-circle-text d-sm-flex d-none">Подробнее</span>
                        <div class="universal__button-circle-wrapper services__button-circle-wrapper">
                            <div class="universal__button-circle-arrow services__button-circle-arrow"></div>
                            <div class="universal__button-circle-border services__button-circle-border"></div>
                            <div class="universal__button-circle-mask d-sm-flex d-none">
                                <div class="universal__button-circle-small"></div>
                            </div>
                        </div>
                    </button>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="/design" class="services-box">
                    <div class="row justify-content-center">
                        <h3 class="services-box__title text-center text-uppercase">Дизайн</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="services-box__subtitle text-center">Нарисуем дизайн для вашего будущего сайта с учетом всех ваших требований.</p>
                    </div>
                    <button class="main-button universal__button-circle services-button__bottom mx-auto">
                        <span class="universal__button-circle-text d-sm-flex d-none">Подробнее</span>
                        <div class="universal__button-circle-wrapper services__button-circle-wrapper">
                            <div class="universal__button-circle-arrow services__button-circle-arrow"></div>
                            <div class="universal__button-circle-border services__button-circle-border"></div>
                            <div class="universal__button-circle-mask d-sm-flex d-none">
                                <div class="universal__button-circle-small"></div>
                            </div>
                        </div>
                    </button>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="/store" class="services-box">
                    <div class="row justify-content-center">
                        <h3 class="services-box__title text-center text-uppercase">Интернет-магазин</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="services-box__subtitle text-center">Современный инструмент для ведения своего бизнеса в онлайн режиме.</p>
                    </div>
                    <button class="main-button universal__button-circle services-button__bottom mx-auto">
                        <span class="universal__button-circle-text d-sm-flex d-none">Подробнее</span>
                        <div class="universal__button-circle-wrapper services__button-circle-wrapper">
                            <div class="universal__button-circle-arrow services__button-circle-arrow"></div>
                            <div class="universal__button-circle-border services__button-circle-border"></div>
                            <div class="universal__button-circle-mask d-sm-flex d-none">
                                <div class="universal__button-circle-small"></div>
                            </div>
                        </div>
                    </button>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="/blog" class="services-box">
                    <div class="row justify-content-center">
                        <h3 class="services-box__title text-center text-uppercase">Блог</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="services-box__subtitle text-center">Ваш "личный дневник", с помощью которого вы можете делиться личным мнением, опытом, впечатлениями.</p>
                    </div>
                    <button class="main-button universal__button-circle services-button__bottom mx-auto">
                        <span class="universal__button-circle-text d-sm-flex d-none">Подробнее</span>
                        <div class="universal__button-circle-wrapper services__button-circle-wrapper">
                            <div class="universal__button-circle-arrow services__button-circle-arrow"></div>
                            <div class="universal__button-circle-border services__button-circle-border"></div>
                            <div class="universal__button-circle-mask d-sm-flex d-none">
                                <div class="universal__button-circle-small"></div>
                            </div>
                        </div>
                    </button>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="/eco-site" class="services-box">
                    <div class="row justify-content-center">
                        <h3 class="services-box__title text-center text-uppercase">Эконом-сайт</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="services-box__subtitle text-center">Сайт имеет до 3-их страниц, обратную форму связи + мобильную версию.</p>
                    </div>
                    <button class="main-button universal__button-circle services-button__bottom mx-auto">
                        <span class="universal__button-circle-text d-sm-flex d-none">Подробнее</span>
                        <div class="universal__button-circle-wrapper services__button-circle-wrapper">
                            <div class="universal__button-circle-arrow services__button-circle-arrow"></div>
                            <div class="universal__button-circle-border services__button-circle-border"></div>
                            <div class="universal__button-circle-mask d-sm-flex d-none">
                                <div class="universal__button-circle-small"></div>
                            </div>
                        </div>
                    </button>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="/redesign" class="services-box">
                    <div class="row justify-content-center">
                        <h3 class="services-box__title text-center text-uppercase">Редизайн сайта</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="services-box__subtitle text-center">Нарисуем полностью новый дизайн и перенесем на весь ваш сайт</p>
                    </div>
                    <button class="main-button universal__button-circle services-button__bottom mx-auto">
                        <span class="universal__button-circle-text d-sm-flex d-none">Подробнее</span>
                        <div class="universal__button-circle-wrapper services__button-circle-wrapper">
                            <div class="universal__button-circle-arrow services__button-circle-arrow"></div>
                            <div class="universal__button-circle-border services__button-circle-border"></div>
                            <div class="universal__button-circle-mask d-sm-flex d-none">
                                <div class="universal__button-circle-small"></div>
                            </div>
                        </div>
                    </button>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="/showcase" class="services-box">
                    <div class="row justify-content-center">
                        <h3 class="services-box__title text-center text-uppercase">Интернет-каталог</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="services-box__subtitle text-center">Электронный каталог с карточками товаров. Данный сайт предназначен только для просмотра и выбора товаров.</p>
                    </div>
                    <button class="main-button universal__button-circle services-button__bottom mx-auto">
                        <span class="universal__button-circle-text d-sm-flex d-none">Подробнее</span>
                        <div class="universal__button-circle-wrapper services__button-circle-wrapper">
                            <div class="universal__button-circle-arrow services__button-circle-arrow"></div>
                            <div class="universal__button-circle-border services__button-circle-border"></div>
                            <div class="universal__button-circle-mask d-sm-flex d-none">
                                <div class="universal__button-circle-small"></div>
                            </div>
                        </div>
                    </button>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <a href="/adaptive-design" class="services-box">
                    <div class="row justify-content-center">
                        <h3 class="services-box__title text-center text-uppercase">Адаптивный дизайн</h3>
                    </div>
                    <div class="row justify-content-center">
                        <p class="services-box__subtitle text-center">Адаптируем ваш сайт под мобильные устройства.</p>
                    </div>
                    <button class="main-button universal__button-circle services-button__bottom mx-auto">
                        <span class="universal__button-circle-text d-sm-flex d-none">Подробнее</span>
                        <div class="universal__button-circle-wrapper services__button-circle-wrapper">
                            <div class="universal__button-circle-arrow services__button-circle-arrow"></div>
                            <div class="universal__button-circle-border services__button-circle-border"></div>
                            <div class="universal__button-circle-mask d-sm-flex d-none">
                                <div class="universal__button-circle-small"></div>
                            </div>
                        </div>
                    </button>
                </a>
            </div>


            <div class="col-12 position-relative mt-5 mb-4 pt-3">
                <div class="service-title__wrapper">
                    <div class="service-title__background">Additional services</div>
                    <h2 class="service-title text-uppercase">Дополнительные услуги</h2>
                </div>
                <p class="services-subtitle">Так же ConsStudio предоставляет дополнительные услуги:</p>
            </div>
            <div class="services-divide mb-3"></div>
            <div class="col-12 service-add">
                <div class="row">
                    <div class="col-12 col-lg-9">
                        <h3 class="services-box__title text-uppercase">Фотосъемка (любого направления)</h3>
                        <p class="services-box__subtitle">Предлагаем широкий спектр фотоуслуг - от контента для социальных сетей до свадебных фотографий, с радостью готовы реализовать самые неординарные идеи. Кроме того, вы сами выбираете уровень обработки фотографий (базовый или детальный). Для выбора данной услуги напишите нам немного о своей задаче, а мы будем готовы ответить на все интересующие вопросы.</p>
                    </div>
                    <div class="col-5 col-md-3 m-auto">
                        <a href="/#scroll-point__order" class="main-button universal__button-circle services-button__bottom mx-auto">
                            <span class="universal__button-circle-text d-sm-flex d-none">Заказать</span>
                            <div class="universal__button-circle-wrapper services__button-circle-wrapper">
                                <div class="universal__button-circle-arrow services__button-circle-arrow"></div>
                                <div class="universal__button-circle-border services__button-circle-border"></div>
                                <div class="universal__button-circle-mask d-sm-flex d-none">
                                    <div class="universal__button-circle-small"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="services-divide mb-5 mt-5"></div>
            <div class="col-12 service-add">
                <div class="row">
                    <div class="col-12 col-lg-9">
                        <h3 class="services-box__title text-uppercase">Монтаж фото</h3>
                        <p class="services-box__subtitle">Качественный фотомонтаж бывает необходим в самых различных ситуациях - когда нет возможности сделать хороший снимок, когда на удачной фотографии присутствуют нежелательные объекты или когда вам просто хочется добавить красок для контента в социальных сетях. Одной из самых важных задач при монтаже является сохранение реалистичности. Именно поэтому к каждой задаче мы подходим индивидуально, соблюдая ваши пожелания к фотографии, но при этом сохраняя ее уникальность.</p>
                    </div>
                    <div class="col-5 col-md-3 m-auto">
                        <a href="/#scroll-point__order" class="main-button universal__button-circle services-button__bottom mx-auto">
                            <span class="universal__button-circle-text d-sm-flex d-none">Заказать</span>
                            <div class="universal__button-circle-wrapper services__button-circle-wrapper">
                                <div class="universal__button-circle-arrow services__button-circle-arrow"></div>
                                <div class="universal__button-circle-border services__button-circle-border"></div>
                                <div class="universal__button-circle-mask d-sm-flex d-none">
                                    <div class="universal__button-circle-small"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="services-divide mb-5 mt-5"></div>
            <div class="col-12 service-add">
                <div class="row">
                    <div class="col-12 col-lg-9">
                        <h3 class="services-box__title text-uppercase">Видеосъемка (любого направления)</h3>
                        <p class="services-box__subtitle">Профессиональная видеосъемка - это искусство, которое позволяет улавливать красоту моментов и сохранять эти впечатления на долгое время. Наша компания предлагает широкий перечень направлений - будь то рекламная съемка или видео детского праздника. Главная особенность нашей команды заключается в умении находить подход к решению сложных задач, мы гарантируем, что плохое освещение или неприятные погодные условия не повлияют на уровень исполнения вашей идеи. Вы также можете быть уверены в превосходном звуке и качественном изображении вашего видеоматериала.</p>
                    </div>
                    <div class="col-5 col-md-3 m-auto">
                        <a href="/#scroll-point__order" class="main-button universal__button-circle services-button__bottom mx-auto">
                            <span class="universal__button-circle-text d-sm-flex d-none">Заказать</span>
                            <div class="universal__button-circle-wrapper services__button-circle-wrapper">
                                <div class="universal__button-circle-arrow services__button-circle-arrow"></div>
                                <div class="universal__button-circle-border services__button-circle-border"></div>
                                <div class="universal__button-circle-mask d-sm-flex d-none">
                                    <div class="universal__button-circle-small"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="services-divide mb-5 mt-5"></div>
            <div class="col-12 service-add">
                <div class="row">
                    <div class="col-12 col-lg-9">
                        <h3 class="services-box__title text-uppercase">Создание логотипа</h3>
                        <p class="services-box__subtitle">Логотип компании - это первое, с чем знакомится ваш потенциальный клиент. Именно поэтому его созданию необходимо уделить особое внимание. Профессиональное выполнение логотипа требует совокупность технических и дизайнерских навыков, а также опыта исполнителя. Мы поможем создать фирменный стиль вашего бренда, соблюдая все аспекты современных требований.</p>
                    </div>
                    <div class="col-5 col-md-3 m-auto">
                        <a href="/#scroll-point__order" class="main-button universal__button-circle services-button__bottom mx-auto">
                            <span class="universal__button-circle-text d-sm-flex d-none">Заказать</span>
                            <div class="universal__button-circle-wrapper services__button-circle-wrapper">
                                <div class="universal__button-circle-arrow services__button-circle-arrow"></div>
                                <div class="universal__button-circle-border services__button-circle-border"></div>
                                <div class="universal__button-circle-mask d-sm-flex d-none">
                                    <div class="universal__button-circle-small"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="services-divide mb-5 mt-5"></div>
            <div class="col-12 service-add">
                <div class="row">
                    <div class="col-12 col-lg-9">
                        <h3 class="services-box__title text-uppercase">Создание слогана</h3>
                        <p class="services-box__subtitle">Создадим рекламный слоган, который будет отражать индивидуальность вашей компании и донесет уникальность характеристик продукта до сознания потребителя. Слоган - это то, что выделяет продукт на современном рынке среди множества его аналогов. Именно поэтому, говоря о каком-либо товаре, мы в первую очередь ассоциируем его со знакомым слоганом, а не с техническими характеристиками. Мы поможем реализовать конкурентное преимущество вашей фирмы, воплотив суть рекламной кампании в жизнь.</p>
                    </div>
                    <div class="col-5 col-md-3 m-auto">
                        <a href="/#scroll-point__order" class="main-button universal__button-circle services-button__bottom mx-auto">
                            <span class="universal__button-circle-text d-sm-flex d-none">Заказать</span>
                            <div class="universal__button-circle-wrapper services__button-circle-wrapper">
                                <div class="universal__button-circle-arrow services__button-circle-arrow"></div>
                                <div class="universal__button-circle-border services__button-circle-border"></div>
                                <div class="universal__button-circle-mask d-sm-flex d-none">
                                    <div class="universal__button-circle-small"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="services-divide mb-5 mt-5"></div>
            <div class="col-12 service-add">
                <div class="row">
                    <div class="col-12 col-lg-9">
                        <h3 class="services-box__title text-uppercase">Создание 3D видео</h3>
                        <p class="services-box__subtitle">3D Видео - это ролик с изображением объекта в трехмерном пространстве. Это один из лучших инструментов для качественного и объемного представления информации о продукте. 3D презентация может стать ключом в решении задач вашей рекламной кампании, а также предоставит возможность привлечь потенциальных покупателей и инвесторов. Наша команда гарантирует создание качественного материала, который оставит приятные впечатления у вас и ваших клиентов.</p>
                    </div>
                    <div class="col-5 col-md-3 m-auto">
                        <a href="/#scroll-point__order" class="main-button universal__button-circle services-button__bottom mx-auto">
                            <span class="universal__button-circle-text d-sm-flex d-none">Заказать</span>
                            <div class="universal__button-circle-wrapper services__button-circle-wrapper">
                                <div class="universal__button-circle-arrow services__button-circle-arrow"></div>
                                <div class="universal__button-circle-border services__button-circle-border"></div>
                                <div class="universal__button-circle-mask d-sm-flex d-none">
                                    <div class="universal__button-circle-small"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="services-divide mb-5 mt-5"></div>
            <div class="col-12 service-add">
                <div class="row">
                    <div class="col-12 col-lg-9">
                        <h3 class="services-box__title text-uppercase">3D визуализация</h3>
                        <p class="services-box__subtitle">Предлагаем услуги 3D визуализации предметов интерьера, мебели, зданий и объектов, а также создания 3D панорамы. Визуализация - это современный инструмент, который позволяет реализовать идею планирования интерьера и создавать будущую концепцию помещения. Изготовление эффектной 3D модели вашего продукта позволит клиентам детально изучить информацию, которая поможет ему определиться с выбором. В данную услугу можно включить дополнительную обработку изображений, создание текстур, добавление или исключение объектов.</p>
                    </div>
                    <div class="col-5 col-md-3 m-auto">
                        <a href="/#scroll-point__order" class="main-button universal__button-circle services-button__bottom mx-auto">
                            <span class="universal__button-circle-text d-sm-flex d-none">Заказать</span>
                            <div class="universal__button-circle-wrapper services__button-circle-wrapper">
                                <div class="universal__button-circle-arrow services__button-circle-arrow"></div>
                                <div class="universal__button-circle-border services__button-circle-border"></div>
                                <div class="universal__button-circle-mask d-sm-flex d-none">
                                    <div class="universal__button-circle-small"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="services-divide mb-5 mt-5"></div>
            <div class="col-12 service-add">
                <div class="row">
                    <div class="col-12 col-lg-9">
                        <h3 class="services-box__title text-uppercase">Копирайтинг</h3>
                        <p class="services-box__subtitle">Создание контента на сайте компании несет задачу общения с потенциальным покупателем, привлечения новых клиентов и обеспечения роста продаж. Для реализации поставленных целей необходимо грамотно подойти к выбору услуг копирайтинга. В нашей команде работают авторы, являющиеся специалистами в своей области, которые умеют грамотно преподнести информацию о товаре и создать уникальную рекламу. Мы применяет LSI-алгоритм, который расставляет акцент не на ключевых фразах, а полноценно раскрывает тематику запроса. В перечень предоставляемых услуг входит написание продающих описаний товаров (OZON, Wildberries и др.), статей для сайтов, текстов для буклетов и флаеров, информационных и рекламных статей. Если ваша задача гораздо шире и предполагает необходимость включения изображений, таблиц и видео, мы будем рады поработать над таким проектом.
                        </p>
                    </div>
                    <div class="col-5 col-md-3 m-auto">
                        <a href="/#scroll-point__order" class="main-button universal__button-circle services-button__bottom mx-auto">
                            <span class="universal__button-circle-text d-sm-flex d-none">Заказать</span>
                            <div class="universal__button-circle-wrapper services__button-circle-wrapper">
                                <div class="universal__button-circle-arrow services__button-circle-arrow"></div>
                                <div class="universal__button-circle-border services__button-circle-border"></div>
                                <div class="universal__button-circle-mask d-sm-flex d-none">
                                    <div class="universal__button-circle-small"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="services-divide mb-5 mt-5"></div>
        </div>
    </div>
</section>