<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-11 offset-1">
                <div class="services-back__title">
                    <h1 class="f-34 fw-bold services-title title">Наши услуги</h1>
                </div>
            </div>
            <div class="col-11 offset-1 f-18 services-subtitle subtitle">
                Для достижения конкретных бизнес-целей ConsStudio разрабатывает популярные типы сайтов:
            </div>
        </div>
        <div class="row services-card__wrapper">
            <div class="col-xl-4 col-md-6 col-12 mb-3">
                <a class="services-card mx-auto" href="">
                    <h2 class="services-card__title text-center">Landing - page</h2>
                    <div class="services-card__description text-center">
                        Небольшой одностраничный сайт, полностью заточенный под то, чтобы попадающий на него клиент выполнил целевое действие.
                    </div>
                    <button class="main-button universal__button-circle mx-auto">
                        <span class="universal__button-circle-text">Оставить заявку</span>
                        <div class="universal__button-circle-wrapper">
                            <div class="universal__button-circle-arrow"></div>
                            <div class="universal__button-circle-border"></div>
                            <div class="universal__button-circle-mask">
                                <div class="universal__button-circle-small"></div>
                            </div>
                        </div>
                    </button>
                </a>
            </div>
            <div class="col-xl-4 col-md-6 col-12 mb-3">
                <a class="services-card mx-auto" href="">
                    <h2 class="services-card__title text-center">Сайт-визитка</h2>
                    <div class="services-card__description text-center">
                        Основная цель - краткая передача информации о компании или персоне для привлечения внимания посетителей.
                    </div>
                    <button class="main-button universal__button-circle mx-auto">
                        <span class="universal__button-circle-text">Оставить заявку</span>
                        <div class="universal__button-circle-wrapper">
                            <div class="universal__button-circle-arrow"></div>
                            <div class="universal__button-circle-border"></div>
                            <div class="universal__button-circle-mask">
                                <div class="universal__button-circle-small"></div>
                            </div>
                        </div>
                    </button>
                </a>
            </div>
            <div class="col-xl-4 col-md-6 col-12 mb-3">
                <a class="services-card mx-auto" href="">
                    <h2 class="services-card__title text-center">Корпоративный сайт</h2>
                    <div class="services-card__description text-center">
                        Сайт представляет собой своеобразную рекламную площадку, призванную привлекать новых клиентов.
                    </div>
                    <button class="main-button universal__button-circle mx-auto">
                        <span class="universal__button-circle-text">Оставить заявку</span>
                        <div class="universal__button-circle-wrapper">
                            <div class="universal__button-circle-arrow"></div>
                            <div class="universal__button-circle-border"></div>
                            <div class="universal__button-circle-mask">
                                <div class="universal__button-circle-small"></div>
                            </div>
                        </div>
                    </button>
                </a>
            </div>
            <div class="col-xl-4 col-md-6 col-12 mb-3">
                <a class="services-card mx-auto" href="">
                    <h2 class="services-card__title text-center">Дизайн</h2>
                    <div class="services-card__description text-center">
                        Нарисуем дизайн для вашего будущего сайта с учетом всех ваших требований.
                    </div>
                    <button class="main-button universal__button-circle mx-auto">
                        <span class="universal__button-circle-text">Оставить заявку</span>
                        <div class="universal__button-circle-wrapper">
                            <div class="universal__button-circle-arrow"></div>
                            <div class="universal__button-circle-border"></div>
                            <div class="universal__button-circle-mask">
                                <div class="universal__button-circle-small"></div>
                            </div>
                        </div>
                    </button>
                </a>
            </div>
            <div class="col-xl-4 col-md-6 col-12 mb-3">
                <a class="services-card mx-auto" href="">
                    <h2 class="services-card__title text-center">Интернет магазин</h2>
                    <div class="services-card__description text-center">
                        Современный инструмент для ведения своего бизнеса в онлайн режиме.
                    </div>
                    <button class="main-button universal__button-circle mx-auto">
                        <span class="universal__button-circle-text">Оставить заявку</span>
                        <div class="universal__button-circle-wrapper">
                            <div class="universal__button-circle-arrow"></div>
                            <div class="universal__button-circle-border"></div>
                            <div class="universal__button-circle-mask">
                                <div class="universal__button-circle-small"></div>
                            </div>
                        </div>
                    </button>
                </a>
            </div>
            <div class="col-xl-4 col-md-6 col-12 mb-3">
                <a class="services-card mx-auto" href="">
                    <h2 class="services-card__title text-center">Блог</h2>
                    <div class="services-card__description text-center">
                        Ваш "личный дневник", с помощью которого вы можете делиться личным мнением, опытом, впечатлениями.
                    </div>
                    <button class="main-button universal__button-circle mx-auto">
                        <span class="universal__button-circle-text">Оставить заявку</span>
                        <div class="universal__button-circle-wrapper">
                            <div class="universal__button-circle-arrow"></div>
                            <div class="universal__button-circle-border"></div>
                            <div class="universal__button-circle-mask">
                                <div class="universal__button-circle-small"></div>
                            </div>
                        </div>
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>