<section class="site-card">
    <div class="container">
        <div class="row w-100">
            <div class="col-sm-7 offset-sm-1 col-7 order-1">
                <div class="site-card-back__title">
                    <h1 class="f-34 fw-bold landing-title title">Сайт - визитка</h1>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-12 order-sm-2 order-3 text-end my-auto mt-sm-0 mt-3">
                <a href="" class="services-button mx-sm-0 mx-auto">
                    От 20 000р.
                </a>
            </div>
            <div class="col-sm-5 offset-sm-1 col-12 order-sm-3 order-2 f-18 services-subtitle subtitle">
                Основная цель - краткая передача информации о компании или персоне для привлечения внимания посетителей.
            </div>
        </div>
        <div class="row site-card-info">
            <div class="col-12 f-34 text-center site-card-info__title">
                Что входит?
            </div>
            <div class="col-xl-4 offset-xl-2 col-md-5 offset-md-0 col-12">
                <div class="site-card-info__block mx-auto">

                </div>
            </div>
            <div class="col-xl-4 offset-xl-1 col-md-5 offset-md-2">
                <div class="site-card-info__block mx-auto">

                </div>
            </div>
            <div class="col-xl-4 offset-xl-2 col-md-5 offset-md-0 col-12">
                <div class="site-card-info__block mx-auto">

                </div>
            </div>
            <div class="col-xl-4 offset-xl-1 col-md-5 offset-md-2 col-12">
                <div class="site-card-info__block mx-auto">

                </div>
            </div>
            <div class="col-xl-4 offset-xl-2 col-md-5 offset-md-0 col-12">
                <div class="site-card-info__block mx-auto">

                </div>
            </div>
            <div class="col-xl-4 offset-xl-1 col-md-5 offset-md-2 col-12">
                <div class="site-card-info__block mx-auto">

                </div>
            </div>
            <div class="col-xl-4 offset-xl-2 col-md-5 offset-md-0 col-12">
                <div class="site-card-info__block mx-auto">

                </div>
            </div>
            <div class="col-xl-4 offset-xl-1 col-md-5 offset-md-2 col-12">
                <div class="site-card-info__block mx-auto">

                </div>
            </div>
        </div>
    </div>
</section>

<section class="brief">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2 col-12">
                <div class="brief-block d-flex flex-column align-items-center">
                    <div class="brief-block__description text-center">
                        Обсудим проект? Вы можете заполнить бриф  или оставить короткую заявку.
                    </div>
                    <a href="" class="universal__button brief-block__button text-center">
                        БРИФ
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>