<section class="store">
    <div class="container">
        <div class="row w-100">
            <div class="col-sm-7 offset-sm-1 col-7 order-1">
                <div class="store-title__background">
                    <h2 class="store-title text-uppercase">Интернет магазин</h2>
                </div>
                <p class="store-subtitle">Современный инструмент для ведения своего бизнеса в онлайн режиме.</p>
            </div>
            <div class="col-lg-3 col-sm-4 col-12 order-sm-2 order-3 my-auto mt-sm-0 mt-3 d-flex justify-content-end">
                <a href="" class="services-button mx-sm-0 mx-auto">
                    От 20 000р.
                </a>
            </div>
        </div>
        <div class="row store-info">
            <div class="col-12 f-34 text-center store-info__title">
                Что входит?
            </div>
            <div class="col-xl-4 offset-xl-2 col-sm-6 col-12">
                <div class="store-info__block mx-auto">

                </div>
            </div>
            <div class="col-xl-4 offset-xl-1 col-sm-6 col-12">
                <div class="store-info__block mx-auto">

                </div>
            </div>
            <div class="col-xl-4 offset-xl-2 col-sm-6 col-12">
                <div class="store-info__block mx-auto">

                </div>
            </div>
            <div class="col-xl-4 offset-xl-1 col-sm-6 col-12">
                <div class="store-info__block mx-auto">

                </div>
            </div>
            <div class="col-xl-4 offset-xl-2 col-sm-6 col-12">
                <div class="store-info__block mx-auto">

                </div>
            </div>
            <div class="col-xl-4 offset-xl-1 col-sm-6 col-12">
                <div class="store-info__block mx-auto">

                </div>
            </div>
            <div class="col-xl-4 offset-xl-2 col-sm-6 col-12">
                <div class="store-info__block mx-auto">

                </div>
            </div>
            <div class="col-xl-4 offset-xl-1 col-sm-6 col-12">
                <div class="store-info__block mx-auto">

                </div>
            </div>
        </div>
    </div>
</section>

<section class="brief">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2 col-12">
                <div class="brief__box position-relative">
                    <div class="brief-robot position-absolute">
                        <img class="img-fluid" src="/images/brief-helper.png" alt="robot">
                    </div>
                    <div class="brief__box-wrapper">
                        <p class="brief__description text-center mb-3">Обсудим проект? Вы можете заполнить бриф  или оставить короткую заявку.</p>
                        <a href="/brief" class="universal__button">
                            Бриф
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>