@media (max-width: 1399.98px)

  .animation
    margin: 150px 0
    .service
      &-title
        font-size: 36px
        &__background
          font-size: 65px
          bottom: -23px
    &-circle
      top: -145px
      right: 115px
    .main-subtitle
      width: 480px
      font-size: 14px

@media (max-width: 1199.98px)

  .animation
    margin: 150px 0
    .service
      &-title
        font-size: 25px
        &__background
          font-size: 56px
          bottom: -21px
    &-circle
      right: 100px
      width: 560px
      height: 560px
    .main-subtitle
      width: 100%

@media (max-width: 991.98px)

@media (max-width: 767.98px)

@media (max-width: 575.98px)
