.main
  .service
    &-title
      &__background
        font-size: 70px
        font-weight: 900
        left: unset
        right: 0
        bottom: -30px
        top: unset
  &-subtitle
    color: #FFFFFF
    font-size: 16px
  &-button
    width: auto
    right: 0
    bottom: 0
    z-index: 10