@media (max-width: 1399.98px)
  .main
    &-title
      font-size: 35px
      &__background
        background-size: 473px
        background-position-y: 40px


  .developing
    &-lines
      background-position: 240px 119px
      background-size: 57%
    &-title
      font-size: 32px
      &__background
        background-size: 365px
        background-position-y: 10px
    &-circle
      &__1
        margin-top: 55px
        margin-left: -20px
      &__2
        margin-top: 130px
        margin-left: -37px
      &__3
        margin-top: 30px
        margin-left: -55px
      &__4
        margin-top: -80px
        margin-left: -75px


  .skills
    height: 681px
    &-title
      &__background
        background-size: 210px
        background-position-y: 10px
    .container
      background-size: 100%

    &-item
      font-size: 22px
      &__backend
        margin-top: 124px
        margin-left: 25px
      &__frontend
        margin-top: 83px
        margin-left: 49px
      &__databases
        margin-top: 84px
        margin-left: 25px
      &__design
        margin-top: 80px
        margin-left: 5px


  .team
    height: 750px
    &-title
      &__background
        background-size: 285px
        background-position-y: 11px


  .home__services
    &-title
      &__background
        background-size: 220px
        background-position-y: 9px
    &-box
      width: 355px


@media (max-width: 1199.98px)
  .main
    &-title
      font-size: 26px
      &__background
        background-size: 400px
        background-position-y: 25px


  .developing
    height: 650px
    &-lines
      background-position: 170px 100px
      background-size: 60%
    &-title
      font-size: 28px
      &__background
        background-size: 320px
        background-position-y: 13px
    &-circle
      width: 125px
      height: 125px
      &__1
        margin-top: 55px
        margin-left: -21px
      &__2
        margin-top: 130px
        margin-left: -40px
      &__3
        margin-top: 30px
        margin-left: -58px
      &__4
        margin-top: -80px
        margin-left: -76px
    &-process
      &__subtitle
        font-size: 14px


  .skills
    height: 600px
    &-title
      font-size: 28px
      &__background
        background-size: 180px
        background-position-y: 12px
    .container
      background-size: 100%
    &-subtitle
      font-size: 14px

    &-item
      font-size: 18px
      &__backend
        margin-top: 90px
        margin-left: 15px
      &__frontend
        margin-top: 69px
        margin-left: 36px
      &__databases
        margin-top: 69px
        margin-left: 15px
      &__design
        margin-top: 68px
        margin-left: -1px


  .call
    height: 200px
    &-wrapper
      width: 17%
    &-title
      font-size: 28px
    &-subtitle
      font-size: 16px
    &-form
      height: 125px
      input.form-control
        height: 45px
      button
        margin-top: 1px


  .team
    height: 640px
    &-title
      font-size: 28px
      &__background
        background-size: 250px
    &-avatar
      width: 120px
      height: 120px
      &__title
        font-size: 22px
      &__subtitle
        font-size: 16px


  .home__services
    &-title
      font-size: 28px
      &__background
        background-size: 195px
    &-subtitle
      color: #FEFEFE
      margin-left: -8px
      font-size: 16px
    &-box
      width: 299px
      height: 220px
      &__title
        font-size: 26px


  .form
    &-title
      font-size: 26px
    &-order
      background: #02031C
      backdrop-filter: blur(10px)
      border-radius: 20px
      position: relative
      padding: 48px 30px
      $border: 1px
      border: solid $border transparent
      color: #FFF
      background-clip: padding-box
      text-decoration: none
      &:before
        content: ''
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        z-index: -1
        margin: -$border
        border-radius: inherit
        background: linear-gradient(to bottom, #8839FF, #14FFEC)
      label
        font-family: "Bebas Neue Regular", sans-serif
        margin-bottom: 5px
        font-size: 18px
      input, select
        border: 1px solid #FEFEFE
        border-radius: 10px
        background: none
        height: 52px
        margin-bottom: 20px
        &::placeholder
          padding-left: 25px
          color: rgba(255, 255, 255, 0.6)
          font-size: 14px
      select
        color: rgba(255, 255, 255, 0.6)
      textarea
        border: 1px solid #FEFEFE
        border-radius: 10px
        background: none
        margin-bottom: 20px
      &__button
        padding: 10px 20px
        background: none
        border: solid 1px #14FFEC
        border-radius: 50px
        color: #14FFEC

@media (max-width: 991.98px)
  .main
    &-title
      font-size: 26px
      line-height: 180%
      &__background
        background-size: 340px
        background-position-y: 38px
    &-button
      width: auto
      right: unset
      left: 50%
      transform: translateX(-50%)
      bottom: -100px


  .developing
    margin-top: 150px
    height: 600px
    &-title
      font-size: 24px
      &__background
        background-size: 310px
    &-lines
      background: none

    &-process
      &__mobile
        &-title
          color: #FFFFFF
          text-align: center
          font-size: 24px
          margin-top: 5px

        &-subtitle
          color: #FFFFFF

        &-circle
          width: 100px
          height: 100px
          position: relative
          background-color: #000000
          $border: 1px
          border: solid $border transparent
          border-radius: 100%
          color: #FFF
          background-clip: padding-box
          text-decoration: none
          &:before
            content: ''
            position: absolute
            top: 0
            right: 0
            bottom: 0
            left: 0
            z-index: -1
            margin: -$border
            border-radius: inherit
            background: linear-gradient(to bottom, #8839FF, #14FFEC)

          img
            position: absolute
            left: 50%
            top: 50%
            transform: translateX(-50%) translateY(-50%)


  .skills
    height: 500px
    &-wrapper
      top: 55%
    .container
      background-position: -38px 0px
    &-title
      font-size: 24px
    &-subtitle
      font-size: 12px
    &-item
      font-size: 16px
      &__backend
        margin-top: 137px
        margin-left: 41px
        img
          height: 40px
      &__frontend
        margin-top: 48px
        margin-left: 57px
        img
          height: 35px
      &__databases
        margin-top: 46px
        margin-left: 41px
        img
          height: 40px
      &__design
        margin-top: 46px
        margin-left: -12px
        img
          height: 30px


  .call
    height: 168px
    &-wrapper
      width: 24%
    &-title
      font-size: 24px
    &-subtitle
      font-size: 14px
    &-form
      height: 99px
      margin-top: 35px
      button
        img
          width: 75px
          margin-top: 11px


  .team
    height: 640px
    &-title
      font-size: 24px
    &-avatar
      width: 100px
      height: 100px
      &__title
        font-size: 20px
      &__subtitle
        font-size: 14px
    &-arrow
      padding: 8px
      img
        width: 36px


  .home__services
    &-title
      font-size: 24px
    &-subtitle
      font-size: 14px
    &-box
      width: 100%
      height: 200px
      &__title
        font-size: 24px


  .form
    &-brief
      &__box
        height: 185px
    &-title
      font-size: 24px
    &-robot
      right: -83px
      top: 30px
      width: 120px
      img
        width: 100%
    &-order
      label
        font-size: 16px
      input, select
        height: 45px
        margin-bottom: 15px

@media (max-width: 767.98px)
  .main
    &-title
      font-size: 24px
      letter-spacing: 5px
      &__background
        background-size: 260px
        background-position-y: 41px
    &-subtitle
      font-size: 14px
    &-button
      width: auto
      right: unset
      left: 50%
      transform: translateX(-50%)
      bottom: -100px


  .developing
    &-title
      font-size: 24px
      &__background
        background-size: 280px

    &-process
      &__mobile
        &-title
          font-size: 20px
        &-subtitle
          font-size: 14px
          -ms-hyphens: auto
          -webkit-hyphens: auto
          hyphens: auto
        &-circle
          width: 80px
          height: 80px
          img
            width: 30px


  .skills
    height: 340px
    .container
      background-position: -38px -25px
    &-title
      font-size: 24px
      &__background
        background-size: 165px
    &-item
      font-size: 14px
      &__backend
        margin-top: 77px
        margin-left: 21px
        img
          height: 35px
      &__frontend
        margin-top: 31px
        margin-left: 33px
        img
          height: 30px
      &__databases
        margin-top: 30px
        margin-left: 21px
        img
          height: 35px
      &__design
        margin-top: 30px
        margin-left: -19px
        img
          height: 25px


  .call
    height: 168px
    &-wrapper
      width: 25%
    &-title
      font-size: 22px
    &-subtitle
      font-size: 12px
    &-form
      button
        img
          width: 60px
          margin-top: 16px


  .team
    height: 580px
    &-title
      font-size: 24px
      &__background
        background-size: 225px
    &-subtitle
      font-size: 14px
    &-avatar
      width: 90px
      height: 90px
      &__title
        font-size: 18px
      &__subtitle
        font-size: 12px


  .home__services
    &-title
      font-size: 24px
      &__background
        background-size: 170px
    &-subtitle
      font-size: 14px
    &-box
      width: 100%
      height: 230px
      .universal__button-circle-text
        font-size: 14px
      &__title
        font-size: 22px
      &__subtitle
        font-size: 14px


  .form
    &-brief
      &__box
        height: 185px
        &-wrapper
          padding: 0 10px
      &__description
        font-size: 14px
    &-title
      font-size: 24px
    &-robot
      right: -57px
      width: 100px
    &-order
      margin: 0
      padding: 25px 20px
      label
        font-size: 14px
      input, select
        height: 40px
        margin-bottom: 10px
      p
        font-size: 14px

@media (max-width: 575.98px)
  .main
    position: relative
    padding-bottom: 130px
    .container
      padding-top: 110px
    &-mobile
      &__background
        position: absolute
        background: url("/images/pc.png") no-repeat
        background-size: 50%
        background-position: 30px 100px
        filter: blur(5px)
        left: 0
        right: 0
        width: 100%
        height: 100%
        &:after
          content: ''
          position: absolute
          top: 0
          left: 0
          right: 0
          bottom: 0
          width: 100%
          height: 100%
          background: rgba(2, 3, 28, 0.5)
    &-title
      font-size: 26px
      letter-spacing: 3px
      padding: 0 15px
      &__background
        background-size: 210px
        background-position-y: 54px
        background-position-x: calc(100% - 15px)
    &-subtitle
      padding: 0 15px
      font-size: 14px
    &-button
      width: auto
      right: unset
      left: 50%
      transform: translateX(-50%)
      bottom: -100px
      .universal__button-circle-text
        font-size: 14px
        white-space: nowrap


  .developing
    padding-top: 0
    height: 400px
    margin-top: 30px
    &-title
      font-size: 24px
      &__background
        background-position-x: center
        margin-left: 0
        padding-left: 0
    .carousel-indicators
      bottom: -50px
    .carousel-indicators [data-bs-target]
      width: 5px
      height: 5px
      border-radius: 100%


  .skills
    height: 270px
    .container
      background: none
    &-title
      font-size: 24px
      &__background
        background-position-x: center
        margin-left: 0
        padding-left: 0
    &-wrapper
      padding-right: 15px
      top: unset
      transform: unset
    .carousel
      margin-top: 55px
      h3
        color: #FFFFFF
    .carousel-control-next, .carousel-control-prev
      position: absolute
      top: 15px


  .call
    height: 272px
    &-wrapper
      display: block
      position: relative
      transform: unset
      width: 100%
      top: unset
    &-title
      margin-top: 20px
      font-size: 22px
    &-subtitle
      font-size: 12px
      margin-bottom: 15px
    &-form
      margin-top: 0
      button
        img
          width: 60px
          margin-top: 11px


  .team
    height: 450px
    &-title
      font-size: 24px
      text-align: center
      &__background
        background-position-x: center
        margin-left: 0
        padding-left: 0
    &-subtitle
      text-align: center
      font-size: 14px
    &-scroll
      &__wrapper
        position: relative
        -webkit-overflow-scrolling: touch
        overflow-x: scroll
        overflow-y: hidden
        white-space: nowrap
        scrollbar-width: none
        -ms-overflow-style: none
        z-index: 10
        &::-webkit-scrollbar
          display: none
        .col-5
          display: inline-block
        &-avatar
          width: auto
          height: 90px
          &__title
            color: #FFFFFF
            margin-top: 5px
            font-size: 18px
          &__subtitle
            color: #FFFFFF
            width: 80%
            font-size: 12px
            white-space: normal


  .home__services
    &-title
      font-size: 24px
      text-align: center
      &__background
        background-position-x: center
        margin-left: 0
        padding-left: 0
    &-subtitle
      text-align: center
      font-size: 14px
    &-box
      height: 190px
      &__title
        font-size: 18px
      &__subtitle
        font-size: 14px
    .universal__button-circle-text
      font-size: 14px


  .form
    &-order
      padding: 25px 5px