.home__services
  &-title
    color: #FFFFFF
    &__background
      background: url("/images/titles/Services.svg") no-repeat
      background-size: 245px
      background-position-y: 13px
      background-position-x: 11px
      padding-top: 30px
      margin-top: -30px
      padding-left: 20px
      margin-left: -20px
  &-subtitle
    color: #FEFEFE
    margin-left: -8px
    font-size: 16px
  &-box
    overflow: hidden
    display: block
    width: 400px
    height: 225px
    position: relative
    padding: 20px
    background-color: #02031C
    $border: 1.5px
    border: solid $border #1b7cd0
    border-radius: 20px
    color: #FFF
    background-clip: padding-box
    text-decoration: none
    &:before
      content: ''
      position: absolute
      top: 50%
      left: 50%
      display: block
      width: 0
      height: 0
      border-radius: 100%
      transform: translate(-50%, -50%)
      opacity: 0
      z-index: 2
    &:hover
      &:before
        animation: services_animate 0.6s ease forwards
      .home__services-box__title
        background-image: linear-gradient(to bottom, #ffffff, #ffffff)
    .universal__button-circle
      position: absolute
      left: 50%
      transform: translateX(-50%)
      bottom: 0
    &__title
      -webkit-transition: all 0.6s ease-in-out
      transition: all 0.6s ease-in-out
      background-image: linear-gradient(to bottom, #14FFEC, #8839FF)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
      background-size: 100% 100%
      z-index: 10
      font-size: 34px
    &__subtitle
      z-index: 10
      color: #FEFEFE
      font-size: 16px
      line-height: 28px
  .universal__button-circle-text
    font-size: 18px

@keyframes services_animate
  0%
    opacity: .5
    background: url("/images/home-services__box-hover.svg") no-repeat
    background-size: cover

  100%
    background: url("/images/home-services__box-hover.svg") no-repeat
    background-size: cover
    width: 200%
    height: 200%
    opacity: 1
