.services
  padding-top: 75px
  &-why
    background-color: #020202
    border: solid 1px #14FFEC
    border-radius: 10px
    padding: 50px 60px
    &__border
      border: solid 1px #14FFEC
      height: 100%
      z-index: -1
      border-radius: 10px
  &-robot
    left: -156px
    transform: translateY(-50%)
    top: 50%
    img
      transform: scale(-1, 1)
  &-button
    display: flex
    justify-content: center
    align-items: center
    width: 230px
    height: 50px
    font-size: 24px
    font-family: "Bebas Neue Bold"
    letter-spacing: 4px
    position: relative
    padding: 10px 20px
    background-color: #02031C
    $border: 1px
    border: solid $border #14FFEC
    border-radius: 50px
    color: #14FFEC
    background-clip: padding-box
    text-decoration: none
    &:hover
      text-decoration: none
      color: #14FFEC
  &-title
    color: #FFFFFF
    &__background
      background: url("/images/titles/Services.svg") no-repeat
      background-size: 245px
      background-position-y: 13px
      background-position-x: 11px
      padding-top: 30px
      margin-top: -30px
      padding-left: 20px
      margin-left: -20px
  &-subtitle
    color: #FEFEFE
    margin-left: -8px
    font-size: 16px
  &-box
    overflow: hidden
    display: block
    width: 100%
    height: 225px
    position: relative
    padding: 20px
    background-color: #02031C
    $border: 1.5px
    border: solid $border #1b7cd0
    border-radius: 20px
    color: #FFF
    background-clip: padding-box
    text-decoration: none
    &:before
      content: ''
      position: absolute
      top: 50%
      left: 50%
      display: block
      width: 0
      height: 0
      border-radius: 100%
      transform: translate(-50%, -50%)
      opacity: 0
      z-index: 2
    .universal__button-circle
      position: absolute
      left: 50%
      transform: translateX(-50%)
      bottom: 0
    &:hover
      .universal__button-circle-border
          transform: translateX(63px)
      .universal__button-circle-mask
          clip-path: circle(25px at 85px)
      &:before
        animation: services_animate 0.6s ease forwards
      .services-box__title
        background-image: linear-gradient(to bottom, #ffffff, #ffffff)
    &__title
      -webkit-transition: all 0.6s ease-in-out
      transition: all 0.6s ease-in-out
      background-image: linear-gradient(to bottom, #14FFEC, #8839FF)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
      background-size: 100% 100%
      z-index: 10
      font-size: 34px
    &__subtitle
      z-index: 10
      color: #FEFEFE
      font-size: 16px
      line-height: 28px
  .service
    &-add
      .main-button
        padding-left: 54px
        text-decoration: none
  &-divide
    width: 100%
    height: 2px
    background-color: #14FFEC

@keyframes services_animate
  0%
    opacity: .5
    background: url("/images/home-services__box-hover.svg") no-repeat
    background-size: cover

  100%
    background: url("/images/home-services__box-hover.svg") no-repeat
    background-size: cover
    width: 200%
    height: 200%
    opacity: 1
