.services
  margin-top: 100px
  &-button
    display: flex
    justify-content: center
    align-items: center
    width: 230px
    height: 50px
    position: relative
    padding: 10px 20px
    background-color: #02031C
    $border: 1px
    border: solid $border transparent
    border-radius: 50px
    color: #14FFEC
    background-clip: padding-box
    text-decoration: none
    &:before
      content: ""
      position: absolute
      top: -1px
      right: -1px
      bottom: -1px
      left: -1px
      z-index: -1
      margin: -1px
      border-radius: inherit
      background: linear-gradient(to bottom, #14FFEC, #8839FF)
    &:hover
      text-decoration: none
      color: #14FFEC
  &-back__title
    background: url("/images/Services.png") no-repeat
    background-size: 320px 50px
    background-position-y: 0
    background-position-x: left
    padding-bottom: 17px
    margin-bottom: -17px
  &-title
    color: #FEFEFE
    text-transform: uppercase
    line-height: 54px
    position: relative
  &-subtitle
    color: #FEFEFE
    line-height: 30px
  &-card__wrapper
    margin-top: 60px
    .services-card
      display: flex
      flex-direction: column
      justify-content: space-between
      max-width: 400px
      min-height: 250px
      position: relative
      text-decoration: none
      border-radius: 20px
      background: rgba(37, 37, 37, 0.6)
      backdrop-filter: blur(30px)
      padding: 20px 25px
      &__title
        font-family: "Bebas Neue Regular"
        font-weight: bold
        font-size: 34px
        text-transform: uppercase
        background-image: linear-gradient(135deg, rgba(20,255,236,1) 0%, rgba(136,57,255,1) 100%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
      &__description
        color: #FEFEFE
        font-family: "Source Sans Pro Regular"
        font-weight: 300
        font-size: 16px
        line-height: 28px