@media (max-width: 1399.98px)

  //corporate
  .corporate
    &-info
      &__block
        &:after
          left: -25%
@media (max-width: 1199.98px)

  //corporate
  .corporate
    &-info
      &__block
        &:after
          left: -25%

@media (max-width: 991.98px)
  .corporate
    &-info
      &__block
        min-height: 150px
        &:after
          font-size: 96px
          line-height: 38px
          left: 3%
          top: 1%

@media (max-width: 767.98px)
@media (max-width: 575.98px)

  //corporate
  .corporate
    &-back__title
      background-size: 250px 40px
      background-position-y: 5px
