@media (max-width: 1399.98px)

@media (max-width: 1199.98px)

@media (max-width: 991.98px)
  .design
    padding-top: 150px

@media (max-width: 767.98px)
@media (max-width: 575.98px)

  //design
  .design
    &-title
      text-align: center
    &-title__background
      background-size: 130px
      background-position-y: 12px
      background-position-x: center
      padding-left: 0
      margin-left: 0
    &-subtitle
      margin-left: 0
      text-align: center
