.brief
  padding-top: 100px
  &__description
    padding-bottom: 15px
  &__box
    height: 280px
    background-color: #7FFFF5
    border-radius: 20px
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.2)
    backdrop-filter: blur(4px)
    position: relative
    &-wrapper
      position: absolute
      top: 50%
      transform: translateY(-50%)
      width: 100%
      .universal__button
        width: 227px
        margin: 0 auto
        display: block
        text-align: center
        &:before
          right: -1px
  .brief-robot
    top: 0
    left: -18%
    z-index: 100