@media (max-width: 1399.98px)

  //brief
  .brief
    .brief-robot
      left: -21%

@media (max-width: 1199.98px)

  //brief
  .brief
    .brief-robot
      left: -25%

@media (max-width: 991.98px)

  //brief
  .brief
    .brief-robot
      left: -33.6%

@media (max-width: 767.98px)

  //brief
  .brief
    padding-top: 50px
    .brief-robot
      left: -20.4%
      top: 15%
      width: 100px
      height: 90px

@media (max-width: 575.98px)

  //brief
  .brief
    margin-top: 50px
    padding-top: 0
    .brief-robot
      display: none