@media (max-width: 1399.98px)
  .universal
    &__button
      padding: 10px 19px
  .footer
    height: 280px
    &-list
      margin-top: 57px
    &-to
      &__up
        width: 75px
    &-button
      &__wrapper
        .universal__button
          padding: 15px 0

@media (max-width: 1199.98px)
  .footer
    height: 280px
    &-button
      &__wrapper
        .universal__button
          padding: 10px 0

@media (max-width: 991.98px)

@media (max-width: 767.98px)

@media (max-width: 575.98px)

