body
  min-height: 100%
  background-color: #02031C
img
  object-fit: cover

.form-control:focus
  background: none
  box-shadow: unset

.blur
  filter: blur(3px)

.error
  &-notfound
    position: relative
    min-height: calc(100vh - 436px)
    &__wrapper
      height: 90px
      width: 80%
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      button
        height: auto
        left: 50%
        bottom: unset
        transform: translateX(-50%)
  &-input
    outline: 2px solid red !important

*
  //outline: 1px solid red
  font-family: 'Source Sans Pro Regular', sans-serif

h1, h2, h3, h4, h5, h6
  font-family: 'Bebas Neue Bold', sans-serif

.universal
  &__button
    font-family: "Bebas Neue Regular", sans-serif
    letter-spacing: 2px
    position: relative
    padding: 12px 25px
    background-color: #02031C
    $border: 1px
    border: solid $border transparent
    border-radius: 50px
    color: #14FFEC
    background-clip: padding-box
    text-decoration: none
    &:before
      content: ''
      position: absolute
      top: -1px
      right: 2px
      bottom: -1px
      left: -2px
      z-index: -1
      margin: -$border
      border-radius: inherit
      background: linear-gradient(to bottom, #14FFEC, #8839FF)
    &:hover
      text-decoration: none
      color: #14FFEC

  &__button-circle
    $this: &
    display: flex
    cursor: pointer
    align-items: center
    padding-right: 65px
    height: 80px
    background: none
    border: none
    &-text
      z-index: 1
      font-size: 16px
      margin-right: 20px
      margin-bottom: 4px
      color: #14FFEC
    &-wrapper
      position: relative
      display: flex
      align-items: center
    &-arrow
      display: flex
      position: absolute
      align-items: center
      left: 12px
      height: 3px
      width: 75px
      background-color: #14FFEC
      &:after
        content: ""
        width: 0
        height: 0
        top: -5px
        right: -7px
        position: absolute
        border-top: 7px solid transparent
        border-bottom: 7px solid transparent
        border-left: 7px solid #14FFEC
    &-border
      width: 50px
      height: 50px
      border-radius: 50%
      border: 1px solid #FFFFFF
      transition: transform 987ms
    &-mask
      width: 50px
      height: 50px
      position: absolute
      border-radius: 50%
      display: flex
      align-items: center
      justify-content: center
      clip-path: circle(25px)
      transition: -webkit-clip-path 987ms
      transition: clip-path 987ms
    &-small
      width: 16px
      height: 16px
      border-radius: 50%
      transform: translateX(63px)
      background-color: #14FFEC
    &:hover
      #{$this}-border
        transform: translateX(63px)
      #{$this}-mask
        clip-path: circle(25px at 85px)


/**::-webkit-scrollbar {*/
/*    background: none;*/
/*    width: 8px;*/
/*    height: 8px;*/
/*}*/
/**::-webkit-scrollbar-thumb {*/
/*    background: linear-gradient(145deg, rgba(221,141,4,1) 0%, rgba(255,187,0,1) 25%, rgba(255,255,0,1) 50%, rgba(255,182,0,1) 75%, rgba(221,141,4,1) 100%);*/
/*    background-size: 400% 400%;*/
/*    animation: gradient 5s ease infinite;*/
/*    border-radius: unset;*/
/*    border: none;*/
/*}*/

/*:root {*/
/*    --scrollbarThumbColor: linear-gradient(145deg, rgba(221,141,4,1) 0%, rgba(255,187,0,1) 25%, rgba(255,255,0,1) 50%, rgba(255,182,0,1) 75%, rgba(221,141,4,1) 100%);*/
/*}*/

/** {*/
/*    scrollbar-color: #FEF70B #000000;*/
/*    scrollbar-width: thin*/
/*}*/

/*@keyframes gradient {*/
/*    0% {*/
/*        background-position: 0 50%;*/
/*    }*/
/*    50% {*/
/*        background-position: 100% 50%;*/
/*    }*/
/*    100% {*/
/*        background-position: 0 50%;*/
/*    }*/
/*}*/
