.contacts
  padding-top: 50px
  margin-bottom: 70px
  &-title
    color: #FFFFFF
    &__background
      background: url("/images/titles/Contacts.svg") no-repeat
      background-size: 245px
      background-position-y: 13px
      background-position-x: 11px
      padding-top: 30px
      margin-top: -30px
      padding-left: 20px
      margin-left: -20px
  &-wrapper
    padding-right: 45px
    &__address
      margin-bottom: 35px
      color: #fefefe
      letter-spacing: 2px
      font-size: 18px
      &-item
        font-family: "Bebas Neue Regular"
        display: flex
        justify-content: space-between
        img
          margin-right: 10px
        a
          font-family: "Source Sans Pro Regular"
          color: #fefefe
          letter-spacing: 2px
          font-size: 18px
          text-decoration: none
          &:hover
            text-decoration: none
            color: #fefefe
    &__mail
      margin-bottom: 35px
      color: #fefefe
      letter-spacing: 2px
      font-size: 18px
      &-item
        font-family: "Bebas Neue Regular"
        display: flex
        justify-content: space-between
        a
          font-family: "Source Sans Pro Regular"
          color: #fefefe
          text-decoration: none
          &:hover
            color: #fefefe
            text-decoration: none
    &__phone
      margin-bottom: 35px
      color: #fefefe
      letter-spacing: 2px
      font-size: 18px
      &-item
        font-family: "Bebas Neue Regular"
        display: flex
        justify-content: space-between
        img
          margin-right: 10px
        a
          font-family: "Source Sans Pro Regular"
          color: #fefefe
          text-decoration: none
          &:hover
            color: #fefefe
            text-decoration: none
    &__icons
      width: 100%
      display: flex
      justify-content: space-between
  &-map
    border-radius: 20px
    //overflow: hidden
    //height: 435px

    position: relative
    padding: 0 0 56.25% 0
    height: 0
    overflow: hidden
    iframe
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
