<section class="service">
    <div class="container">
        <div class="row w-100 m-0">
            <div class="col-sm-7 offset-lg-1 col-12 order-1">
                <div class="service-title__wrapper">
                    <div class="service-title__background">Economy-site</div>
                    <h2 class="service-title text-uppercase">Эконом-сайт</h2>
                </div>
                <p class="service-subtitle">Для достижения конкретных бизнес-целей ConsStudio разрабатывает популярные типы сайтов:</p>
            </div>
            <div class="col-lg-3 col-sm-4 offset-sm-1 offset-lg-0 col-12 order-sm-2 order-3 my-auto mt-sm-0 mt-3 d-flex justify-content-end">
                <a class="services-button mx-sm-0 mx-auto">
                    От 40 000р.
                </a>
            </div>
        </div>
        <div class="row service-info">
            <div class="col-12 f-34 text-center service-info__title">
                Что входит?
            </div>
            <div class="col-lg-4 offset-lg-1 col-sm-6 col-12 service-info__first-block">
                <div class="service-info__block mx-auto">
                    Прагматичное решение для начинающего бизнеса в части размещения информации о компании в интернет-пространстве и привлечения новых клиентов.
                </div>
            </div>
            <div class="col-lg-4 offset-lg-2 col-sm-6 col-12">
                <div class="service-info__block mx-auto">
                    Создание сайта “под ключ”, включающее разработку полноценного информационного ресурса, который заложит фундамент в построении вашего бизнеса.
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 col-sm-6 col-12">
                <div class="service-info__block mx-auto">
                    Экономия ваших ресурсов. Ускоренное время разработки проекта и доступные цены.
                </div>
            </div>
            <div class="col-lg-4 offset-lg-2 col-sm-6 col-12">
                <div class="service-info__block mx-auto">
                    Простота и удобство пользования сайтом. Благодаря трансформируемой CMS (системы управления содержимым) вы сможете самостоятельно работать с площадкой.
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 col-sm-6 col-12">
                <div class="service-info__block mx-auto">
                    Интеграция социальных сетей для расширения целевой аудитории (Instagram, TikTok, Telegram, Вконтакте).
                </div>
            </div>
            <div class="col-lg-4 offset-lg-2 col-sm-6 col-12">
                <div class="service-info__block mx-auto">
                    Широкий выбор шаблонов под самую уникальную тему.
                </div>
            </div>
        </div>
    </div>
</section>

{{> brief}}