<section class="service">
    <div class="container">
        <div class="row w-100 m-0">
            <div class="col-sm-7 offset-lg-1 col-12 order-1">
                <div class="service-title__wrapper">
                    <div class="service-title__background">Online-store</div>
                    <h2 class="service-title text-uppercase">Интернет-магазин</h2>
                </div>
                <p class="service-subtitle">Для достижения конкретных бизнес-целей ConsStudio разрабатывает популярные типы сайтов:</p>
            </div>
            <div class="col-lg-3 col-sm-4 offset-sm-1 offset-lg-0 col-12 order-sm-2 order-3 my-auto mt-sm-0 mt-3 d-flex justify-content-end">
                <a href="" class="services-button mx-sm-0 mx-auto">
                    От 20 000р.
                </a>
            </div>
        </div>
        <div class="row service-info">
            <div class="col-12 f-34 text-center service-info__title">
                Что входит?
            </div>
            <div class="col-lg-4 offset-lg-1 col-sm-6 col-12 service-info__first-block">
                <div class="service-info__block mx-auto">
                    Актуальное и современное решение для ведения вашего бизнеса. На сегодняшний день интернет-покупки становятся все более предпочтительными. А это означает, что растет и число потенциальных покупателей, готовых совершать оплату через свои гаджеты.
                </div>
            </div>
            <div class="col-lg-4 offset-lg-2 col-sm-6 col-12">
                <div class="service-info__block mx-auto">
                    Онлайн магазин имеет ряд преимуществ, которые призывают клиента совершать покупки. Сюда можно включить широкий ассортимент товаров, собранный в одном месте. Кроме того, такие платформы не ограничены графиком работы - покупки можно совершать круглосуточно.
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 col-sm-6 col-12">
                <div class="service-info__block mx-auto">
                    При разработке концепции интернет магазина мы учитываем все вышеперечисленные факторы и стараемся максимально адаптировать ресурс под пользователя.
                </div>
            </div>
            <div class="col-lg-4 offset-lg-2 col-sm-6 col-12">
                <div class="service-info__block mx-auto">
                    Создание магазина представляет собой сложную систему интеграции с интернет-оплатой, подключением CRM, сервисов доставки и др.
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 col-sm-6 col-12">
                <div class="service-info__block mx-auto">
                    Уделяем особое внимание оформлению и дизайну сайта, добавляя акцент на идею бренда.
                </div>
            </div>
            <div class="col-lg-4 offset-lg-2 col-sm-6 col-12">
                <div class="service-info__block mx-auto">
                    Обучение функционалу и запуск проекта. Наши специалисты готовы предоставить возможность сотрудникам вашего бизнеса ознакомиться с интерфейсом до начала работы сайта.
                </div>
            </div>
        </div>
    </div>
</section>

{{> brief}}