<section class="service">
    <div class="container">
        <div class="row w-100 m-0">
            <div class="col-sm-7 offset-lg-1 col-12 order-1">
                <div class="service-title__wrapper">
                    <div class="service-title__background">Online-store</div>
                    <h2 class="service-title text-uppercase">Интернет-магазин</h2>
                </div>
                <p class="service-subtitle">Сайт для продажи вашей продукции в интернете.</p>
            </div>
            <div class="col-lg-3 col-sm-4 offset-sm-1 offset-lg-0 col-12 order-sm-2 order-3 my-auto mt-sm-0 mt-3 d-flex justify-content-end">
                <a class="services-button mx-sm-0 mx-auto">
                    От 100 000р.
                </a>
            </div>
        </div>
        <div class="row service-info">
            <div class="col-12 f-34 text-center service-info__title">
                Что входит?
            </div>
            <div class="col-lg-4 offset-lg-1 col-sm-6 col-12 service-info__first-block">
                <div class="service-info__block mx-auto">
                    Это площадка, где можно купить товары за несколько кликов. Процесс оформления заказа здесь автоматизирован на 100%
                </div>
            </div>
            <div class="col-lg-4 offset-lg-2 col-sm-6 col-12">
                <div class="service-info__block mx-auto">
                    Такие платформы не ограничены графиком работы - покупки можно совершать круглосуточно.
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 col-sm-6 col-12">
                <div class="service-info__block mx-auto">
                    Широкий ассортимент товаров, собранный в одном месте.
                </div>
            </div>
            <div class="col-lg-4 offset-lg-2 col-sm-6 col-12">
                <div class="service-info__block mx-auto">
                    Экономия затрат на содержание торговых точек и времени на обработку заказов
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 col-sm-6 col-12">
                <div class="service-info__block mx-auto">
                    Доступны возможности для работы с удержанием и возвратом клиентской базы (рассылки, напоминания об отложенных покупках, бонусы покупателям и т.д.)
                </div>
            </div>
        </div>
    </div>
</section>

{{> brief}}